---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import forside from "../assets/images/forside.webp";
import kaffer from "../assets/images/kaffer.webp";
import kaffeflyver from "../assets/images/kaffeflyver.webp";
import ansatte from "../assets/images/ansatte.webp";
import farm from "../assets/images/farm.webp";
import farmer2 from "../assets/images/farmer2.webp";
import farmer3 from "../assets/images/farmer3.webp";
import farmer4 from "../assets/images/farmer4.webp";
import GronBorderButton from "../components/GronBorderButton.astro";
import GronButton from "../components/GronButton.astro";
import RodBorderButton from "../components/RodBorderButton.astro";
import RodButton from "../components/RodButton.astro";
import BlaButton from "../components/BlaButton.astro";
import "motion";
---

<MainLayout
  title="Coffee Collective"
  description="Coffee Collective er en virksomhed der sælger kaffe med fokus på bæredygtighed og transparents."
  ogtitle="Køb lækker kaffe"
  ogdescription="Køb og bidrag til den bæredygtige kaffeproduktion "
>
  <article>
    <section>
      <Image
        src={forside}
        alt="billeder af en kaffe samt 2 poser kaffebønner"
        class="w-full h-[800px] object-cover z-10 brightness-50"
        loading="lazy"
      />
      <div class="absolute z-30 top-1/2 left-10">
        <h1
          class="text-h1_mobil md:text-h1_desk font-bold uppercase h1_lysgrå pb-2"
        >
          BLIV DIN EGEN BARISTA
        </h1>
        <h2 class="text-h2_mobil md:text-h2_desk uppercase h2_lysgrå pb-2">
          få lækker kaffe leveret til døren
        </h2>
        <a href="/abonner"><RodButton>FIND DIT ABONNEMENT HER</RodButton></a>
      </div>

      <section class="absolute z-10 right-0 top-[300px] hidden md:block">
        <div class="mangeelementerinview grid grid-cols-1 gap-4 relative z-0">
          <!-- Første række (1 trekant) -->
          <div class="flex justify-end mb-2">
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 opacity-70 mangeelementer1"
            >
            </div>
          </div>

          <!-- Første række (2 trekant) -->
          <div class="flex justify-end mb-2">
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 opacity-70 mangeelementer1"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 opacity-70 mangeelementer1"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 opacity-70 mangeelementer1"
            >
            </div>
          </div>

          <!-- Anden række (4 trekanter) -->
          <div class="flex justify-end mb-2">
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 opacity-70 mangeelementer2"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer3"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 opacity-70 mangeelementer2"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer3"
            >
            </div>
          </div>

          <!-- Tredje række (6 trekanter) -->
          <div class="flex justify-end mb-2">
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 opacity-70 mangeelementer4"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer5"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer6"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 opacity-70 mangeelementer4"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer5"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer6"
            >
            </div>
          </div>

          <!-- Fjerde række (8 trekanter) -->
          <div class="flex justify-end mb-2">
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 opacity-70 mangeelementer7"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer8"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer9"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer10"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 opacity-70 mangeelementer7"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer8"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer9"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer10"
            >
            </div>
          </div>

          <!-- Femte række (10 trekanter) -->
          <div class="flex justify-end mb-2">
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 opacity-70 mangeelementer11"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer12"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer13"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer14"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer15"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 opacity-70 mangeelementer11"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer12"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer13"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer14"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer15"
            >
            </div>
          </div>
          <!-- Sjette række (12 trekanter) -->
          <div class="flex justify-end mb-2">
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 opacity-70 mangeelementer16"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer17"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer18"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer19"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer20"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer21"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 opacity-70 mangeelementer16"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer17"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer18"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer19"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer20"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer21"
            >
            </div>
          </div>
          <!-- Syvende række (14 trekanter) -->
          <div class="flex justify-end mb-2">
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 opacity-70 mangeelementer22"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer23"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer24"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer25"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer26"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer27"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer28"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 opacity-70 mangeelementer22"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer23"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer24"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer25"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer26"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer27"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer28"
            >
            </div>
          </div>
          <!-- Ottende række (16 trekanter) -->
          <div class="flex justify-end mb-2">
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 opacity-70 mangeelementer29"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer30"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer31"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer32"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer33"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer34"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer35"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer36"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 opacity-70 mangeelementer29"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer30"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer31"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer32"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer33"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer34"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer35"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer36"
            >
            </div>
          </div>
          <!-- Niende række (18 trekanter) -->
          <div class="flex justify-end mb-2">
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 opacity-70 mangeelementer37"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer38"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer39"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer40"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer41"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer42"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer43"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer44"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer45"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 opacity-70 mangeelementer37"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer38"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer39"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer40"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer41"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer42"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer43"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer44"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer45"
            >
            </div>
          </div>
          <!-- Tiende række (20 trekanter) -->
          <div class="flex justify-end mb-2">
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 opacity-70 mangeelementer46"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer47"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer48"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer49"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer50"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer51"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer52"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer53"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer54"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer55"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 opacity-70 mangeelementer46"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer47"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer48"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer49"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer50"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer51"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer52"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer53"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer54"
            >
            </div>
            <div
              class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-rød-200 rotate-270 ml-[8px] opacity-70 mangeelementer55"
            >
            </div>
          </div>
        </div>
      </section>
    </section>

    <section class="bg-grøn-600 md:pt-xl md:px-2xl px-md pt-md md:pb-s">
      <h2
        class="uppercase font-khand text-h4_mobil md:text-h4_desk text-brun-50"
        id="section1h4"
      >
        Kaffe
      </h2>
      <h2
        class="uppercase font-khand text-h2_mobil md:text-h2_desk text-brun-50 font-bold"
        id="section1h2"
      >
        Bryg din yndlingskaffe derhjemme
      </h2>
      <hr class="border-grå-50 border" id="section1hr" />

      <div
        class="md:grid md:grid-cols-2 md:mb-5xl font-montserrat text-brun-50 text-p_mobil md:text-p_desk"
      >
        <div id="section1p">
          <p class="py-s p_lysegrå">
            Perfekt til dig, der værdsætter en ren og balanceret kop kaffe, hvor
            hver nuance får lov at træde frem. <br />
          </p>
          <p class="p_lysegrå">
            Find din favorit blandt vores sortiment og oplev din kaffe på et
            helt nyt niveau.
          </p>
          <div class="flex-row flex gap-8 py-s">
            <GronBorderButton>UDFORSK VORES KAFFE</GronBorderButton>
            <a href="/abonner"><GronButton>ABONNER</GronButton></a>
          </div>
        </div>
        <div>
          <Image
            src={kaffer}
            alt="billeder af 4 kaffeposer"
            class="md:w-1/2 md:top-[950px] md:right-[50px] md:absolute md:object-cover md:z-20 pb-s"
            loading="lazy"
          />
        </div>
      </div>
    </section>

    <section class="bg-rød-500 pb-xs md:px-2xl z-10 px-md md:pt-xl">
      <h4
        class="uppercase font-khand text-h4_mobil md:text-h4_desk text-brun-50 pt-md"
        id="section2h4"
      >
        Abonnement
      </h4>
      <h2
        class="uppercase font-khand text-h2_mobil md:text-h2_desk text-brun-50 font-bold relative z-40"
        id="section2h2"
      >
        Få lækker kaffe leveret lige til døren
      </h2>
      <hr class="border-grå-50 border" id="section2hr" />

      <div
        class="md:grid md:grid-cols-2 md:mb-5xl font-montserrat text-brun-50 text-p_mobil md:text-p_desk"
      >
        <div id="section2knap">
          <div class="flex-row flex py-s gap-8">
            <a href="/abonner"> <RodButton>ABONNER</RodButton></a>
            <a href="/shop"
              ><RodBorderButton>UDFORSK VORES KAFFE</RodBorderButton></a
            >
          </div>
        </div>
        <div>
          <Image
            src={kaffeflyver}
            alt="billeder af kaffeposer der flyver"
            class="md:w-2/5 md:top-[1760px] md:right-[100px] md:absolute md:object-cover md:z-20"
            loading="lazy"
          />
        </div>
      </div>
    </section>
    <section
      class="grid justify-items-center pt-8 mx-4 mb-8 md:pt-12 md:mx-8 lg:pt-16 lg:mb-12"
    >
      <svg
        width="842"
        height="832"
        viewBox="0 0 842 1232"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="my-lg"
      >
        <rect
          x="780.001"
          y="862"
          width="167"
          height="104"
          transform="rotate(90 780.001 862)"
          fill="#738874"></rect>
        <ellipse
          cx="79.3784"
          cy="63.0996"
          rx="79.3784"
          ry="63.0996"
          transform="matrix(0.0184303 0.99983 -0.999843 0.0177378 749.661 864.864)"
          fill="#FCFAF7"></ellipse>
        <rect x="149.001" y="811" width="540" height="242" fill="#738874"
        ></rect>
        <ellipse cx="422" cy="1010.5" rx="244" ry="199.5" fill="#FCFAF7"
        ></ellipse>
        <rect x="308.001" y="1053" width="220" height="175" fill="#738874"
        ></rect>
        <path
          d="M390.938 1053.69L309.494 1225.6L149 1051.53L390.938 1053.69Z"
          fill="#738874"></path>
        <path
          d="M450.784 1052.89L524.994 1228.13L689.464 1052.89L450.784 1052.89Z"
          fill="#738874"></path>
        <path
          d="M420.524 325.981L759.572 324.263C804.278 324.036 840.706 360.094 840.937 404.8V404.8C841.167 449.506 805.113 485.931 760.407 486.157L421.36 487.876L420.524 325.981Z"
          fill="#738874"></path>
        <path
          d="M419 649.129L440.469 649.02C485.175 648.794 521.603 684.851 521.834 729.557V729.557C522.065 774.263 486.01 810.688 441.304 810.915L419.835 811.023L419 649.129Z"
          fill="#738874"></path>
        <path
          d="M419.157 2.12897L758.205 0.410309C802.91 0.18369 839.339 36.2413 839.569 80.9472V80.9472C839.8 125.653 803.746 162.078 759.04 162.305L419.992 164.023L419.157 2.12897Z"
          fill="#738874"></path>
        <path
          d="M421.361 487.876L82.314 489.595C37.6081 489.821 1.55369 526.246 1.7843 570.952V570.952C2.01492 615.658 38.4432 651.716 83.1492 651.489L422.196 649.771L421.361 487.876Z"
          fill="#738874"></path>
        <path
          d="M419.994 164.024L80.9468 165.742C36.2409 165.969 0.1865 202.394 0.417117 247.1V247.1C0.647734 291.806 37.076 327.864 81.782 327.637L420.829 325.918L419.994 164.024Z"
          fill="#738874"></path>
        <path
          d="M555.897 46.0638H560.733L556.641 67.5468H550.162L546.008 46.0638H550.751C551.949 52.9045 552.642 57.0378 552.828 58.4638C553.014 59.8898 553.22 61.5741 553.448 63.5168C553.84 59.8175 554.181 57.0481 554.471 55.2088L555.897 46.0638ZM582.474 50.0938H576.243V54.6508H581.637V58.6808H576.243V63.5168H582.474V67.5468H571.903V62.5868H567.16L565.393 67.5468H560.898L569.144 46.0638H582.474V50.0938ZM571.903 58.6498V49.2878L568.555 58.6498H571.903ZM584.756 46.0638H589.468V63.6408H595.203V67.5468H584.756V46.0638ZM596.435 51.2408C596.435 49.6081 597.055 48.3165 598.295 47.3658C599.555 46.3945 601.343 45.9088 603.658 45.9088C605.394 45.9088 606.851 46.1051 608.029 46.4978V50.8998C606.789 50.4245 605.549 50.1868 604.309 50.1868C603.069 50.1868 602.232 50.3315 601.798 50.6208C601.364 50.9101 601.147 51.3028 601.147 51.7988V61.9978C601.147 62.4938 601.302 62.8761 601.612 63.1448C601.922 63.3928 602.376 63.5168 602.976 63.5168C603.596 63.5168 604.071 63.4341 604.402 63.2688V56.0148H608.928V66.3998C607.316 67.2678 605.404 67.7018 603.193 67.7018C600.981 67.7018 599.297 67.2471 598.14 66.3378C597.003 65.4285 596.435 64.1471 596.435 62.4938V51.2408ZM625.988 46.0638H630.7V67.5468H625.988V59.0528H621.71V67.5468H616.998V46.0638H621.71V54.8988H625.988V46.0638ZM642.146 46.0638H646.982L642.89 67.5468H636.411L632.257 46.0638H637C638.198 52.9045 638.891 57.0378 639.077 58.4638C639.263 59.8898 639.469 61.5741 639.697 63.5168C640.089 59.8175 640.43 57.0481 640.72 55.2088L642.146 46.0638ZM648.542 46.0638H653.254V67.5468H648.542V46.0638ZM656.05 46.0638H660.762V63.6408H666.497V67.5468H656.05V46.0638ZM672.689 67.5468H668.039V46.0638H672.689V55.7358L676.223 46.0638H681.183L677.246 56.4488L681.555 67.5468H676.378L672.689 57.2858V67.5468ZM683.115 46.0638H693.996V50.0938H687.765V54.6508H693.159V58.6808H687.765V63.5168H693.996V67.5468H683.115V46.0638ZM705.277 46.0638H709.865V67.5468H705.401C702.342 59.7348 700.575 55.0228 700.1 53.4108C700.534 55.0435 700.751 57.8541 700.751 61.8428V67.5468H696.163V46.0638H700.751L703.572 53.2558C704.77 56.3351 705.576 58.6705 705.99 60.2618C705.514 58.2571 705.277 55.3225 705.277 51.4578V46.0638ZM729.636 46.0638V50.0938H725.761V67.5468H721.049V50.0938H717.174V46.0638H729.636ZM739.621 67.5468H734.909V60.8818L729.794 46.0638H734.568L735.591 49.3188C736.397 51.8608 736.976 54.1135 737.327 56.0768C737.72 54.0721 738.309 51.7988 739.094 49.2568L740.086 46.0638H744.736L739.621 60.8818V67.5468ZM753.894 51.3958C753.894 50.5278 753.45 50.0938 752.561 50.0938H750.825V57.3168H752.561C753.45 57.3168 753.894 56.8828 753.894 56.0148V51.3958ZM746.144 46.0638H753.15C754.824 46.0638 756.136 46.4668 757.087 47.2728C758.058 48.0788 758.544 49.2671 758.544 50.8378V56.5728C758.544 58.1435 758.058 59.3318 757.087 60.1378C756.136 60.9438 754.824 61.3468 753.15 61.3468H750.825V67.5468H746.144V46.0638ZM760.706 46.0638H771.587V50.0938H765.356V54.6508H770.75V58.6808H765.356V63.5168H771.587V67.5468H760.706V46.0638ZM551.898 114.547H547.248V93.0638H551.898V102.736L555.432 93.0638H560.392L556.455 103.449L560.764 114.547H555.587L551.898 104.286V114.547ZM571.5 114.547L570.601 109.587H566.354L565.517 114.547H561.084L565.3 93.0638H571.779L575.933 114.547H571.5ZM567.005 105.65H569.919L568.431 97.3418L567.005 105.65ZM577.491 93.0638H588.124V97.1248H582.203V102.426H587.659V106.58H582.203V114.547H577.491V93.0638ZM589.994 93.0638H600.627V97.1248H594.706V102.426H600.162V106.58H594.706V114.547H589.994V93.0638ZM602.497 93.0638H613.378V97.0938H607.147V101.651H612.541V105.681H607.147V110.517H613.378V114.547H602.497V93.0638ZM629.449 98.0238C629.449 97.6518 629.356 97.3728 629.17 97.1868C629.005 96.9801 628.674 96.8768 628.178 96.8768H625.946V110.548H628.178C629.026 110.548 629.449 110.072 629.449 109.122V98.0238ZM621.296 93.0638H628.829C630.503 93.0638 631.795 93.4668 632.704 94.2728C633.634 95.0788 634.099 96.2671 634.099 97.8378V109.494C634.099 112.862 632.436 114.547 629.108 114.547H621.296V93.0638ZM644.644 93.0638H649.294V109.308C649.294 111.002 648.747 112.356 647.651 113.369C646.577 114.361 644.975 114.857 642.846 114.857C640.738 114.857 639.137 114.361 638.041 113.369C636.967 112.377 636.429 111.023 636.429 109.308V93.0638H641.079V109.06C641.079 110.093 641.668 110.61 642.846 110.61C644.045 110.61 644.644 110.093 644.644 109.06V93.0638ZM670.364 98.3028V109.308C670.364 111.002 669.806 112.356 668.69 113.369C667.595 114.361 665.983 114.857 663.854 114.857C662.428 114.857 661.209 114.619 660.196 114.144L660.01 114.547H657.22L658.243 112.47C657.664 111.622 657.375 110.568 657.375 109.308V98.3028C657.375 96.6081 657.923 95.2648 659.018 94.2728C660.113 93.2601 661.725 92.7538 663.854 92.7538C665.301 92.7538 666.52 92.9915 667.512 93.4668L667.729 93.0638H670.519L669.496 95.1718C670.075 96.0191 670.364 97.0628 670.364 98.3028ZM662.025 98.5508V104.72L665.466 97.6518C665.197 97.2178 664.66 97.0008 663.854 97.0008C662.635 97.0008 662.025 97.5175 662.025 98.5508ZM665.714 109.06V102.891L662.242 109.959C662.552 110.393 663.089 110.61 663.854 110.61C665.094 110.61 665.714 110.093 665.714 109.06ZM681.966 93.0638H686.554V114.547H682.09C679.031 106.735 677.264 102.023 676.789 100.411C677.223 102.043 677.44 104.854 677.44 108.843V114.547H672.852V93.0638H677.44L680.261 100.256C681.46 103.335 682.266 105.67 682.679 107.262C682.204 105.257 681.966 102.322 681.966 98.4578V93.0638ZM688.576 98.0858C688.576 96.4325 689.134 95.1615 690.25 94.2728C691.366 93.3635 692.968 92.9088 695.055 92.9088C697.163 92.9088 698.734 93.1258 699.767 93.5598V98.0238C698.506 97.4865 697.07 97.2178 695.458 97.2178C694.631 97.2178 694.073 97.3521 693.784 97.6208C693.495 97.8688 693.35 98.2305 693.35 98.7058V99.1708C693.35 99.7495 693.443 100.183 693.629 100.473C693.836 100.741 694.27 101.051 694.931 101.403L698.465 103.387C700.16 104.317 701.007 105.712 701.007 107.572V109.494C701.007 111.168 700.387 112.459 699.147 113.369C697.907 114.257 696.161 114.702 693.908 114.702C691.676 114.702 689.992 114.464 688.855 113.989V109.494C690.26 110.093 691.852 110.393 693.629 110.393C695.406 110.393 696.295 109.886 696.295 108.874V108.409C696.295 107.933 696.192 107.582 695.985 107.355C695.799 107.107 695.437 106.838 694.9 106.549L691.583 104.751C689.578 103.635 688.576 102.064 688.576 100.039V98.0858ZM707.624 114.547H702.974V93.0638H707.624V102.736L711.158 93.0638H716.118L712.181 103.449L716.49 114.547H711.313L707.624 104.286V114.547ZM718.05 93.0638H728.931V97.0938H722.7V101.651H728.094V105.681H722.7V110.517H728.931V114.547H718.05V93.0638ZM735.748 106.797V114.547H731.098V93.0638H738.104C739.799 93.0638 741.121 93.4668 742.072 94.2728C743.023 95.0788 743.498 96.2568 743.498 97.8068V101.775C743.498 104.255 742.651 105.805 740.956 106.425L744.335 114.547H739.22L736.337 106.797H735.748ZM735.748 97.0318V103.108H737.577C738.052 103.108 738.383 103.004 738.569 102.798C738.755 102.591 738.848 102.229 738.848 101.713V98.2098C738.848 97.7551 738.745 97.4451 738.538 97.2798C738.331 97.1145 738.011 97.0318 737.577 97.0318H735.748Z"
          fill="#FCFAF7"></path>
        <path
          d="M555.897 374.064H560.733L556.641 395.547H550.162L546.008 374.064H550.751C551.949 380.904 552.642 385.038 552.828 386.464C553.014 387.89 553.22 389.574 553.448 391.517C553.84 387.817 554.181 385.048 554.471 383.209L555.897 374.064ZM582.474 378.094H576.243V382.651H581.637V386.681H576.243V391.517H582.474V395.547H571.903V390.587H567.16L565.393 395.547H560.898L569.144 374.064H582.474V378.094ZM571.903 386.65V377.288L568.555 386.65H571.903ZM584.756 374.064H589.468V391.641H595.203V395.547H584.756V374.064ZM596.435 379.241C596.435 377.608 597.055 376.316 598.295 375.366C599.555 374.394 601.343 373.909 603.658 373.909C605.394 373.909 606.851 374.105 608.029 374.498V378.9C606.789 378.424 605.549 378.187 604.309 378.187C603.069 378.187 602.232 378.331 601.798 378.621C601.364 378.91 601.147 379.303 601.147 379.799V389.998C601.147 390.494 601.302 390.876 601.612 391.145C601.922 391.393 602.376 391.517 602.976 391.517C603.596 391.517 604.071 391.434 604.402 391.269V384.015H608.928V394.4C607.316 395.268 605.404 395.702 603.193 395.702C600.981 395.702 599.297 395.247 598.14 394.338C597.003 393.428 596.435 392.147 596.435 390.494V379.241ZM616.998 374.064H627.631V378.125H621.71V383.426H627.166V387.58H621.71V395.547H616.998V374.064ZM634.15 387.797V395.547H629.5V374.064H636.506C638.201 374.064 639.524 374.467 640.474 375.273C641.425 376.079 641.9 377.257 641.9 378.807V382.775C641.9 385.255 641.053 386.805 639.358 387.425L642.737 395.547H637.622L634.739 387.797H634.15ZM634.15 378.032V384.108H635.979C636.455 384.108 636.785 384.004 636.971 383.798C637.157 383.591 637.25 383.229 637.25 382.713V379.21C637.25 378.755 637.147 378.445 636.94 378.28C636.734 378.114 636.413 378.032 635.979 378.032H634.15ZM644.456 374.064H655.337V378.094H649.106V382.651H654.5V386.681H649.106V391.517H655.337V395.547H644.456V374.064ZM662.153 395.547H657.503V374.064H662.153V383.736L665.687 374.064H670.647L666.71 384.449L671.019 395.547H665.842L662.153 385.286V395.547ZM681.229 374.064H686.065L681.973 395.547H675.494L671.34 374.064H676.083C677.281 380.904 677.974 385.038 678.16 386.464C678.346 387.89 678.552 389.574 678.78 391.517C679.172 387.817 679.513 385.048 679.803 383.209L681.229 374.064ZM687.625 374.064H698.506V378.094H692.275V382.651H697.669V386.681H692.275V391.517H698.506V395.547H687.625V374.064ZM709.787 374.064H714.375V395.547H709.911C706.853 387.735 705.086 383.023 704.61 381.411C705.044 383.043 705.261 385.854 705.261 389.843V395.547H700.673V374.064H705.261L708.082 381.256C709.281 384.335 710.087 386.67 710.5 388.262C710.025 386.257 709.787 383.322 709.787 379.458V374.064ZM716.397 379.086C716.397 377.432 716.955 376.161 718.071 375.273C719.187 374.363 720.789 373.909 722.876 373.909C724.984 373.909 726.555 374.126 727.588 374.56V379.024C726.328 378.486 724.891 378.218 723.279 378.218C722.453 378.218 721.895 378.352 721.605 378.621C721.316 378.869 721.171 379.23 721.171 379.706V380.171C721.171 380.749 721.264 381.183 721.45 381.473C721.657 381.741 722.091 382.051 722.752 382.403L726.286 384.387C727.981 385.317 728.828 386.712 728.828 388.572V390.494C728.828 392.168 728.208 393.459 726.968 394.369C725.728 395.257 723.982 395.702 721.729 395.702C719.497 395.702 717.813 395.464 716.676 394.989V390.494C718.082 391.093 719.673 391.393 721.45 391.393C723.228 391.393 724.116 390.886 724.116 389.874V389.409C724.116 388.933 724.013 388.582 723.806 388.355C723.62 388.107 723.259 387.838 722.721 387.549L719.404 385.751C717.4 384.635 716.397 383.064 716.397 381.039V379.086ZM730.795 374.064H741.676V378.094H735.445V382.651H740.839V386.681H735.445V391.517H741.676V395.547H730.795V374.064ZM752.957 374.064H757.545V395.547H753.081C750.023 387.735 748.256 383.023 747.78 381.411C748.214 383.043 748.431 385.854 748.431 389.843V395.547H743.843V374.064H748.431L751.252 381.256C752.451 384.335 753.257 386.67 753.67 388.262C753.195 386.257 752.957 383.322 752.957 379.458V374.064ZM774.247 379.024C774.247 378.652 774.154 378.373 773.968 378.187C773.803 377.98 773.472 377.877 772.976 377.877H770.744V391.548H772.976C773.824 391.548 774.247 391.072 774.247 390.122V379.024ZM766.094 374.064H773.627C775.301 374.064 776.593 374.467 777.502 375.273C778.432 376.079 778.897 377.267 778.897 378.838V390.494C778.897 393.862 777.234 395.547 773.906 395.547H766.094V374.064ZM789.442 374.064H794.092V390.308C794.092 392.002 793.545 393.356 792.449 394.369C791.375 395.361 789.773 395.857 787.644 395.857C785.536 395.857 783.935 395.361 782.839 394.369C781.765 393.377 781.227 392.023 781.227 390.308V374.064H785.877V390.06C785.877 391.093 786.466 391.61 787.644 391.61C788.843 391.61 789.442 391.093 789.442 390.06V374.064ZM555.897 421.064H560.733L556.641 442.547H550.162L546.008 421.064H550.751C551.949 427.904 552.642 432.038 552.828 433.464C553.014 434.89 553.22 436.574 553.448 438.517C553.84 434.817 554.181 432.048 554.471 430.209L555.897 421.064ZM562.293 421.064H567.005V442.547H562.293V421.064ZM569.801 421.064H574.513V438.641H580.248V442.547H569.801V421.064ZM604.87 421.064V442.547H600.375V435.076C600.375 432.926 600.572 430.808 600.964 428.721L597.988 437.091H594.392L591.416 428.721C591.809 430.643 592.005 432.761 592.005 435.076V442.547H587.541V421.064H592.315L596.19 432.038L600.065 421.064H604.87ZM615.702 426.551C615.702 425.517 615.082 425.001 613.842 425.001C612.623 425.001 612.013 425.517 612.013 426.551V437.06C612.013 438.093 612.623 438.61 613.842 438.61C615.082 438.61 615.702 438.093 615.702 437.06V426.551ZM607.363 426.303C607.363 424.608 607.911 423.265 609.006 422.273C610.102 421.26 611.714 420.754 613.842 420.754C615.971 420.754 617.583 421.26 618.678 422.273C619.794 423.265 620.352 424.608 620.352 426.303V437.308C620.352 439.002 619.794 440.356 618.678 441.369C617.583 442.361 615.971 442.857 613.842 442.857C611.714 442.857 610.102 442.361 609.006 441.369C607.911 440.356 607.363 439.002 607.363 437.308V426.303ZM630.993 426.024C630.993 425.652 630.9 425.373 630.714 425.187C630.549 424.98 630.218 424.877 629.722 424.877H627.49V438.548H629.722C630.57 438.548 630.993 438.072 630.993 437.122V426.024ZM622.84 421.064H630.373C632.047 421.064 633.339 421.467 634.248 422.273C635.178 423.079 635.643 424.267 635.643 425.838V437.494C635.643 440.862 633.98 442.547 630.652 442.547H622.84V421.064ZM649.35 421.064V425.094H645.475V442.547H640.763V425.094H636.888V421.064H649.35ZM660.08 442.547L659.181 437.587H654.934L654.097 442.547H649.664L653.88 421.064H660.359L664.513 442.547H660.08ZM655.585 433.65H658.499L657.011 425.342L655.585 433.65ZM665.761 426.241C665.761 424.608 666.381 423.316 667.621 422.366C668.881 421.394 670.669 420.909 672.984 420.909C674.72 420.909 676.177 421.105 677.355 421.498V425.9C676.115 425.424 674.875 425.187 673.635 425.187C672.395 425.187 671.558 425.331 671.124 425.621C670.69 425.91 670.473 426.303 670.473 426.799V436.998C670.473 437.494 670.628 437.876 670.938 438.145C671.248 438.393 671.702 438.517 672.302 438.517C672.922 438.517 673.397 438.434 673.728 438.269V431.015H678.254V441.4C676.642 442.268 674.73 442.702 672.519 442.702C670.307 442.702 668.623 442.247 667.466 441.338C666.329 440.428 665.761 439.147 665.761 437.494V426.241ZM680.572 421.064H691.453V425.094H685.222V429.651H690.616V433.681H685.222V438.517H691.453V442.547H680.572V421.064ZM704.022 442.547H699.372V421.064H704.022V430.736L707.556 421.064H712.516L708.579 431.449L712.888 442.547H707.711L704.022 432.286V442.547ZM723.624 442.547L722.725 437.587H718.478L717.641 442.547H713.208L717.424 421.064H723.903L728.057 442.547H723.624ZM719.129 433.65H722.043L720.555 425.342L719.129 433.65ZM729.615 421.064H740.248V425.125H734.327V430.426H739.783V434.58H734.327V442.547H729.615V421.064ZM742.118 421.064H752.751V425.125H746.83V430.426H752.286V434.58H746.83V442.547H742.118V421.064ZM754.621 421.064H765.502V425.094H759.271V429.651H764.665V433.681H759.271V438.517H765.502V442.547H754.621V421.064ZM776.782 421.064H781.37V442.547H776.906C773.848 434.735 772.081 430.023 771.605 428.411C772.039 430.043 772.256 432.854 772.256 436.843V442.547H767.668V421.064H772.256L775.077 428.256C776.276 431.335 777.082 433.67 777.495 435.262C777.02 433.257 776.782 430.322 776.782 426.458V421.064Z"
          fill="#FCFAF7"></path>
        <path
          d="M166.897 211.064H171.733L167.641 232.547H161.162L157.008 211.064H161.751C162.949 217.904 163.642 222.038 163.828 223.464C164.014 224.89 164.22 226.574 164.448 228.517C164.84 224.817 165.181 222.048 165.471 220.209L166.897 211.064ZM193.474 215.094H187.243V219.651H192.637V223.681H187.243V228.517H193.474V232.547H182.903V227.587H178.16L176.393 232.547H171.898L180.144 211.064H193.474V215.094ZM182.903 223.65V214.288L179.555 223.65H182.903ZM195.756 211.064H200.468V228.641H206.203V232.547H195.756V211.064ZM207.435 216.241C207.435 214.608 208.055 213.316 209.295 212.366C210.555 211.394 212.343 210.909 214.658 210.909C216.394 210.909 217.851 211.105 219.029 211.498V215.9C217.789 215.424 216.549 215.187 215.309 215.187C214.069 215.187 213.232 215.331 212.798 215.621C212.364 215.91 212.147 216.303 212.147 216.799V226.998C212.147 227.494 212.302 227.876 212.612 228.145C212.922 228.393 213.376 228.517 213.976 228.517C214.596 228.517 215.071 228.434 215.402 228.269V221.015H219.928V231.4C218.316 232.268 216.404 232.702 214.193 232.702C211.981 232.702 210.297 232.247 209.14 231.338C208.003 230.428 207.435 229.147 207.435 227.494V216.241ZM239.22 211.064V215.094H235.345V232.547H230.633V215.094H226.758V211.064H239.22ZM249.205 232.547H244.493V225.882L239.378 211.064H244.152L245.175 214.319C245.981 216.861 246.56 219.113 246.911 221.077C247.304 219.072 247.893 216.799 248.678 214.257L249.67 211.064H254.32L249.205 225.882V232.547ZM263.478 216.396C263.478 215.528 263.034 215.094 262.145 215.094H260.409V222.317H262.145C263.034 222.317 263.478 221.883 263.478 221.015V216.396ZM255.728 211.064H262.734C264.408 211.064 265.72 211.467 266.671 212.273C267.642 213.079 268.128 214.267 268.128 215.838V221.573C268.128 223.143 267.642 224.332 266.671 225.138C265.72 225.944 264.408 226.347 262.734 226.347H260.409V232.547H255.728V211.064ZM270.29 211.064H281.171V215.094H274.94V219.651H280.334V223.681H274.94V228.517H281.171V232.547H270.29V211.064ZM167.424 279.547L166.525 274.587H162.278L161.441 279.547H157.008L161.224 258.064H167.703L171.857 279.547H167.424ZM162.929 270.65H165.843L164.355 262.342L162.929 270.65ZM186.032 262.993V265.008C186.032 267.012 185.298 268.242 183.831 268.697C185.422 269.069 186.218 270.309 186.218 272.417V274.618C186.218 277.904 184.461 279.547 180.948 279.547H173.415V258.064H180.762C184.275 258.064 186.032 259.707 186.032 262.993ZM179.987 261.97H178.065V266.651H179.987C180.958 266.651 181.444 266.206 181.444 265.318V263.303C181.444 262.414 180.958 261.97 179.987 261.97ZM181.63 274.308V272.107C181.63 271.218 181.144 270.774 180.173 270.774H178.065V275.641H180.173C181.144 275.641 181.63 275.196 181.63 274.308ZM196.732 263.551C196.732 262.517 196.112 262.001 194.872 262.001C193.652 262.001 193.043 262.517 193.043 263.551V274.06C193.043 275.093 193.652 275.61 194.872 275.61C196.112 275.61 196.732 275.093 196.732 274.06V263.551ZM188.393 263.303C188.393 261.608 188.94 260.265 190.036 259.273C191.131 258.26 192.743 257.754 194.872 257.754C197 257.754 198.612 258.26 199.708 259.273C200.824 260.265 201.382 261.608 201.382 263.303V274.308C201.382 276.002 200.824 277.356 199.708 278.369C198.612 279.361 197 279.857 194.872 279.857C192.743 279.857 191.131 279.361 190.036 278.369C188.94 277.356 188.393 276.002 188.393 274.308V263.303ZM212.984 258.064H217.572V279.547H213.108C210.049 271.735 208.282 267.023 207.807 265.411C208.241 267.043 208.458 269.854 208.458 273.843V279.547H203.87V258.064H208.458L211.279 265.256C212.477 268.335 213.283 270.67 213.697 272.262C213.221 270.257 212.984 267.322 212.984 263.458V258.064ZM229.483 258.064H234.071V279.547H229.607C226.548 271.735 224.781 267.023 224.306 265.411C224.74 267.043 224.957 269.854 224.957 273.843V279.547H220.369V258.064H224.957L227.778 265.256C228.976 268.335 229.782 270.67 230.196 272.262C229.72 270.257 229.483 267.322 229.483 263.458V258.064ZM236.868 258.064H247.749V262.094H241.518V266.651H246.912V270.681H241.518V275.517H247.749V279.547H236.868V258.064ZM267.245 258.064V279.547H262.75V272.076C262.75 269.926 262.946 267.808 263.339 265.721L260.363 274.091H256.767L253.791 265.721C254.183 267.643 254.38 269.761 254.38 272.076V279.547H249.916V258.064H254.69L258.565 269.038L262.44 258.064H267.245ZM270.047 258.064H280.928V262.094H274.697V266.651H280.091V270.681H274.697V275.517H280.928V279.547H270.047V258.064ZM292.209 258.064H296.797V279.547H292.333C289.275 271.735 287.508 267.023 287.032 265.411C287.466 267.043 287.683 269.854 287.683 273.843V279.547H283.095V258.064H287.683L290.504 265.256C291.703 268.335 292.509 270.67 292.922 272.262C292.447 270.257 292.209 267.322 292.209 263.458V258.064ZM310.816 258.064V262.094H306.941V279.547H302.229V262.094H298.354V258.064H310.816Z"
          fill="#FCFAF7"></path>
        <path
          d="M158.248 558.064H168.881V562.125H162.96V567.426H168.416V571.58H162.96V579.547H158.248V558.064ZM183.429 563.303V574.308C183.429 576.002 182.871 577.356 181.755 578.369C180.66 579.361 179.048 579.857 176.919 579.857C175.493 579.857 174.274 579.619 173.261 579.144L173.075 579.547H170.285L171.308 577.47C170.73 576.622 170.44 575.568 170.44 574.308V563.303C170.44 561.608 170.988 560.265 172.083 559.273C173.179 558.26 174.791 557.754 176.919 557.754C178.366 557.754 179.585 557.991 180.577 558.467L180.794 558.064H183.584L182.561 560.172C183.14 561.019 183.429 562.063 183.429 563.303ZM175.09 563.551V569.72L178.531 562.652C178.263 562.218 177.725 562.001 176.919 562.001C175.7 562.001 175.09 562.517 175.09 563.551ZM178.779 574.06V567.891L175.307 574.959C175.617 575.393 176.155 575.61 176.919 575.61C178.159 575.61 178.779 575.093 178.779 574.06ZM186.072 558.064H190.784V573.099C190.784 574.793 190.712 576.168 190.567 577.222C190.423 578.255 190.133 579.505 189.699 580.973L188.738 584.166H183.809L184.739 580.973C185.628 577.935 186.072 575.32 186.072 573.13V558.064ZM207.482 563.024C207.482 562.652 207.389 562.373 207.203 562.187C207.037 561.98 206.707 561.877 206.211 561.877H203.979V575.548H206.211C207.058 575.548 207.482 575.072 207.482 574.122V563.024ZM199.329 558.064H206.862C208.536 558.064 209.827 558.467 210.737 559.273C211.667 560.079 212.132 561.267 212.132 562.838V574.494C212.132 577.862 210.468 579.547 207.141 579.547H199.329V558.064ZM214.617 558.064H225.498V562.094H219.267V566.651H224.661V570.681H219.267V575.517H225.498V579.547H214.617V558.064ZM238.887 558.064V562.094H235.012V579.547H230.3V562.094H226.425V558.064H238.887ZM257.414 558.064V562.094H253.539V579.547H248.827V562.094H244.952V558.064H257.414ZM258.967 558.064H263.679V579.547H258.967V558.064ZM266.475 558.064H271.187V575.641H276.922V579.547H266.475V558.064ZM288.865 579.547H284.215V558.064H288.865V567.736L292.399 558.064H297.359L293.422 568.449L297.731 579.547H292.554L288.865 569.286V579.547ZM307.351 558.064H312.001V574.308C312.001 576.002 311.454 577.356 310.358 578.369C309.284 579.361 307.682 579.857 305.553 579.857C303.445 579.857 301.844 579.361 300.748 578.369C299.674 577.377 299.136 576.023 299.136 574.308V558.064H303.786V574.06C303.786 575.093 304.375 575.61 305.553 575.61C306.752 575.61 307.351 575.093 307.351 574.06V558.064ZM319.29 571.797V579.547H314.64V558.064H321.646C323.341 558.064 324.663 558.467 325.614 559.273C326.565 560.079 327.04 561.257 327.04 562.807V566.775C327.04 569.255 326.193 570.805 324.498 571.425L327.877 579.547H322.762L319.879 571.797H319.29ZM319.29 562.032V568.108H321.119C321.594 568.108 321.925 568.004 322.111 567.798C322.297 567.591 322.39 567.229 322.39 566.713V563.21C322.39 562.755 322.287 562.445 322.08 562.28C321.873 562.114 321.553 562.032 321.119 562.032H319.29ZM338.244 558.064H343.08L338.988 579.547H332.509L328.355 558.064H333.098C334.297 564.904 334.989 569.038 335.175 570.464C335.361 571.89 335.568 573.574 335.795 575.517C336.188 571.817 336.529 569.048 336.818 567.209L338.244 558.064Z"
          fill="#FCFAF7"></path>
        <path
          d="M487.349 48.0188V114.547H472.757V65.4908L462.293 73.1708V57.3308L474.869 48.0188H487.349ZM503.312 115.507C498 115.507 495.344 113.011 495.344 108.019C495.344 102.963 498 100.435 503.312 100.435C508.688 100.435 511.376 102.963 511.376 108.019C511.376 113.011 508.688 115.507 503.312 115.507Z"
          fill="#FCFAF7"></path>
        <path
          d="M476.501 375.443C483.605 375.443 488.917 376.851 492.437 379.667C495.957 382.483 497.717 386.451 497.717 391.571V398.195C497.717 400.947 497.109 403.219 495.893 405.011C494.741 406.803 493.173 407.955 491.189 408.467C495.669 408.915 497.909 412.019 497.909 417.779V426.995C497.909 432.115 496.181 436.083 492.725 438.899C489.269 441.715 484.277 443.123 477.749 443.123C471.285 443.123 466.453 442.451 463.253 441.107V427.475C467.157 429.139 471.477 429.971 476.213 429.971C481.013 429.971 483.413 428.435 483.413 425.363V419.795C483.413 418.259 483.061 417.235 482.357 416.723C481.653 416.147 480.373 415.859 478.517 415.859H471.029V402.419H478.325C481.589 402.419 483.221 400.851 483.221 397.715V393.203C483.221 390.131 480.885 388.595 476.213 388.595C471.605 388.595 467.797 389.171 464.789 390.323V376.787C467.477 375.891 471.381 375.443 476.501 375.443ZM512.875 443.507C507.563 443.507 504.907 441.011 504.907 436.019C504.907 430.963 507.563 428.435 512.875 428.435C518.251 428.435 520.939 430.963 520.939 436.019C520.939 441.011 518.251 443.507 512.875 443.507Z"
          fill="#FCFAF7"></path>
        <path
          d="M75.0925 212.539C88.9805 212.539 95.9245 217.915 95.9245 228.667V234.331C95.9245 240.539 93.5565 245.403 88.8205 248.923L80.1805 256.219C77.7485 258.267 76.2445 259.803 75.6685 260.827C75.1565 261.851 74.9005 263.451 74.9005 265.627V266.875H95.0605V279.547H60.2125V263.899C60.2125 257.563 62.8685 252.347 68.1805 248.251L77.7805 239.995C79.1885 238.907 80.1165 237.819 80.5645 236.731C81.0765 235.579 81.3325 233.947 81.3325 231.835V230.491C81.3325 229.019 80.8525 227.899 79.8925 227.131C78.9965 226.299 77.3325 225.883 74.9005 225.883C70.0365 225.883 65.5885 226.747 61.5565 228.475V214.651C65.3965 213.243 69.9085 212.539 75.0925 212.539ZM110.937 280.507C105.625 280.507 102.969 278.011 102.969 273.019C102.969 267.963 105.625 265.435 110.937 265.435C116.313 265.435 119.001 267.963 119.001 273.019C119.001 278.011 116.313 280.507 110.937 280.507Z"
          fill="#FCFAF7"></path>
        <path
          d="M100.821 582.739V595.315H94.5805V606.547H81.0445V595.315H57.8125V581.971L76.2445 540.019H94.5805V582.739H100.821ZM81.6205 582.739V555.379L70.0045 582.739H81.6205ZM112.906 607.507C107.594 607.507 104.938 605.011 104.938 600.019C104.938 594.963 107.594 592.435 112.906 592.435C118.282 592.435 120.97 594.963 120.97 600.019C120.97 605.011 118.282 607.507 112.906 607.507Z"
          fill="#FCFAF7"></path>
      </svg>
    </section>
    <section class="bg-blå-50 md:py-xl md:px-2xl px-md py-s">
      <h4
        class="uppercase font-khand text-h4_mobil md:text-h4_desk text-blå-500"
      >
        Coffee collective
      </h4>
      <h2
        class="uppercase font-khand text-h2_mobil md:text-h2_desk text-blå-500 font-bold"
      >
        HVEM ER COFFEE COLLECTIVE
      </h2>
      <hr class="border-blå-500 border" />
      <div
        class="md:grid md:grid-cols-2 gap-20 font-montserrat p_blå text-p_mobil md:text-p_desk"
      >
        <div>
          <p class="py-s">
            Hos Coffee Collective leverer vi kaffe af højeste kvalitet med fokus
            på bæredygtighed og etisk handel. Vi samarbejder direkte med
            kaffefarmere for at sikre både enestående smag og
            arbejdsbetingelser.
          </p>
          <p>
            Hver dag rister vi kaffen frisk for at bevare dens unikke
            smagsnuancer. Gennem gennemsigtighed i processen – fra bønne til kop
            – inviterer vi dig til at opleve nordisk kaffekultur på et nyt
            niveau.
          </p>
          <div class="grid-cols-2 grid py-s">
            <a href="/omos"><BlaButton>LÆS MERE</BlaButton></a>
          </div>
        </div>
        <div>
          <Image
            src={ansatte}
            alt="billeder af ansatte hos coffee collective"
            class="py-s h-4/5 object-cover"
            loading="lazy"
          />
        </div>
      </div>
    </section>
    <section class="bg-grøn-200 md:py-xl md:px-2xl px-md py-s reletive">
      <h4 class="uppercase text-h4_mobil md:text-h4_desk h4_grå">
        BÆREDYGTIGHED
      </h4>
      <h2 class="uppercase text-h2_mobil md:text-h2_desk h2_grå">
        Fra bønne til kop: En bæredygtig rejse
      </h2>

      <hr class="border-grå-900 border" />

      <div
        class="md:grid md:grid-cols-2 gap-10 font-montserrat text-grå-900 text-p_mobil md:text-p_desk"
      >
        <Image
          src={farm}
          alt="billeder af kvinde der plukker bønner fra kaffeplanter"
          class="h-[600px] w-full object-cover mt-s"
          loading="lazy"
        />
        <div>
          <p class="mt-s p_grå">
            Hos Coffee Collective skaber vi kaffeoplevelser i verdensklasse med
            fokus på bæredygtighed og direkte handel. Som B Corp-certificeret
            prioriterer vi sociale og miljømæssige forbedringer, rister frisk
            kaffe dagligt og gør en positiv forskel – fra bønne til kop.
          </p>

          <div class="grid-cols-2 grid py-s pt-md">
            <a href="/omos#bæredygtighed"> <GronButton>LÆS MERE</GronButton></a>
          </div>
          <div class="grid md:grid-cols-3 gap-10 pt-[47px]">
            <Image
              src={farmer4}
              alt="billeder af en kaffefarmer"
              class="md:object-cover md:z-20"
              loading="lazy"
            />
            <Image
              src={farmer3}
              alt="billeder af en farm"
              class="h-full md:object-cover md:z-20"
              loading="lazy"
            />
            <Image
              src={farmer2}
              alt="billeder af 2 mænd på en kaffefarm"
              class="h-full md:object-cover md:z-20"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </section>
    <section
      class="md:m-xl text-blå-600 px-md md:px-xl pt-xs pb-md relative z-20"
    >
      <div class="md:grid md:grid-cols-3 gap-40">
        <div class="md:col-span-2">
          <h2
            class="uppercase text-h2_mobil md:text-h2_desk font-khand font-bold pt-md"
          >
            NYHEDSBREV
          </h2>
          <p
            class="font-montserrat p_blå text-p_mobil md:text-p_desk pt-xs pr-md md:pr-5xl"
          >
            Få de seneste kaffelanceringer før alle andre og kom tættere på
            farmerne med unikke fortællinger fra deres hverdag.
          </p>
          <div class="">
            <form class="py-md grid grid-cols-2 gap-8">
              <!-- Email input -->
              <div>
                <label
                  for="email"
                  class="block text-sm font-montserrat font-medium text-gray-900"
                ></label>
                <input
                  type="email"
                  id="email"
                  class="w-full p-4 bg-blå-100 text-gray-900 font-montserrat outline-none border-none focus:outline-none focus:border-none focus:ring-0"
                  placeholder="E-mail"
                />
              </div>
              <div class="">
                <a href="/logind">
                  <BlaButton>TILMELD</BlaButton>
                </a>
              </div>
            </form>
          </div>
        </div>
        <div class="hidden md:block">
          <svg
            width="253"
            height="293"
            viewBox="0 0 253 293"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="253"
              y="144.603"
              width="66.9059"
              height="41.7999"
              transform="rotate(90 253 144.603)"
              fill="#4060A0"></rect>
            <ellipse
              cx="31.8268"
              cy="25.2998"
              rx="31.8268"
              ry="25.2998"
              transform="matrix(0.0184303 0.99983 -0.999843 0.0177378 240.835 145.831)"
              fill="#FCFAF7"></ellipse>
            <rect
              x="0.000488281"
              y="124.1"
              width="216.7"
              height="97.1215"
              fill="#4060A0"></rect>
            <ellipse
              cx="109.458"
              cy="204.497"
              rx="97.6606"
              ry="79.9637"
              fill="#FCFAF7"></ellipse>
            <rect
              x="63.8003"
              y="221.221"
              width="87.9998"
              height="70.1433"
              fill="#4060A0"></rect>
            <path
              d="M97.005 221.539L64.3499 290.467L-8.1104e-05 220.675L97.005 221.539Z"
              fill="#4060A0"></path>
            <path
              d="M121.001 221.221L150.756 291.481L216.7 221.221L121.001 221.221Z"
              fill="#4060A0"></path>
            <path
              d="M79.2002 0C91.9579 0 102.3 10.3422 102.3 23.1V28.6982C102.3 41.4559 91.9579 51.7981 79.2002 51.7981V0Z"
              fill="#4060A0"></path>
            <path
              d="M128.7 0C141.458 0 151.8 10.3422 151.8 23.1V28.6982C151.8 41.4559 141.458 51.7981 128.7 51.7981V0Z"
              fill="#4060A0"></path>
            <path
              d="M79.2002 51.7981C66.4424 51.7981 56.1002 62.1403 56.1002 74.8981V80.4963C56.1002 93.254 66.4424 103.596 79.2002 103.596V51.7981Z"
              fill="#4060A0"></path>
            <path
              d="M128.7 51.7981C115.942 51.7981 105.6 62.1403 105.6 74.8981V80.4963C105.6 93.254 115.942 103.596 128.7 103.596V51.7981Z"
              fill="#4060A0"></path>
          </svg>
        </div>
      </div>
    </section>

    <section class="absolute z-10 right-0 top-[5170px] hidden md:block">
      <div class="mangeelementerinview grid grid-cols-1 gap-4 relative z-0">
        <!-- Første række (2 trekant) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer1"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer1"
          >
          </div>
        </div>

        <!-- Anden række (4 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer2"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer3"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer2"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer3"
          >
          </div>
        </div>

        <!-- Tredje række (6 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer4"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer5"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer6"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer4"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer5"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer6"
          >
          </div>
        </div>

        <!-- Fjerde række (8 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer7"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer8"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer9"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer10"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer7"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer8"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer9"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer10"
          >
          </div>
        </div>

        <!-- Femte række (10 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer11"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer12"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer13"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer14"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer15"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer11"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer12"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer13"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer14"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer15"
          >
          </div>
        </div>
        <!-- Sjette række (12 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer16"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer17"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer18"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer19"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer20"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer21"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer16"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer17"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer18"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer19"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer20"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer21"
          >
          </div>
        </div>
        <!-- Syvende række (14 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer22"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer23"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer24"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer25"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer26"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer27"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer28"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer22"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer23"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer24"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer25"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer26"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer27"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer28"
          >
          </div>
        </div>
        <!-- Ottende række (16 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer29"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer30"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer31"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer32"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer33"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer34"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer35"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer36"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer29"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer30"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer31"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer32"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer33"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer34"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer35"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer36"
          >
          </div>
        </div>
        <!-- Niende række (18 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer37"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer38"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer39"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer40"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer41"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer42"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer43"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer44"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer45"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer37"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer38"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer39"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer40"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer41"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer42"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer43"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer44"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer45"
          >
          </div>
        </div>
        <!-- Tiende række (20 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer46"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer47"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer48"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer49"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer50"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer51"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer52"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer53"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer54"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer55"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer46"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer47"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer48"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer49"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer50"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer51"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer52"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer53"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer54"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer55"
          >
          </div>
        </div>
      </div>
    </section>
  </article>

  <style>
    .triangle {
      width: 0;
      height: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-bottom: 32px solid #bfdbfe; /* Blue-200 */
      opacity: 0.5;
      transform: rotate(-90deg);
    }

    .triangle + .triangle {
      margin-left: 8px;
    }
  </style>

  <script>
    import { inView } from "motion";
    import { animate } from "motion";

    // <-- animation section 1 -->
    // <-- inview section1 h2 -->
    const section1h2Fadeup = document.querySelector("#section1h2");

    inView(section1h2Fadeup, () => {
      section1h2Fadeup.classList.add(
        "animate__animated",
        "animate__fadeInUpBig"
      );
    });

    // <-- inview section1 h4 -->
    const section1h4Fadeup = document.querySelector("#section1h4");

    inView(section1h4Fadeup, () => {
      section1h4Fadeup.classList.add(
        "animate__animated",
        "animate__fadeInUpBig"
      );
    });

    // <-- inview section1 hr -->
    const section1hrFadeup = document.querySelector("#section1hr");

    inView(section1hrFadeup, () => {
      section1hrFadeup.classList.add(
        "animate__animated",
        "animate__fadeInUpBig"
      );
    });

    // <-- inview section1 p -->
    const section1pFadeup = document.querySelector("#section1p");

    inView(section1pFadeup, () => {
      section1pFadeup.classList.add(
        "animate__animated",
        "animate__fadeInUpBig"
      );
    });

    // <-- animation section 2 -->
    // <-- inview section2 h2 -->
    const section2h2Fadeup = document.querySelector("#section2h2");

    inView(section2h2Fadeup, () => {
      section2h2Fadeup.classList.add(
        "animate__animated",
        "animate__fadeInUpBig"
      );
    });

    // <-- inview section2 h4 -->
    const section2h4Fadeup = document.querySelector("#section2h4");

    inView(section2h4Fadeup, () => {
      section2h4Fadeup.classList.add(
        "animate__animated",
        "animate__fadeInUpBig"
      );
    });

    // <-- inview section2 hr -->
    const section2hrFadeup = document.querySelector("#section2hr");

    inView(section2hrFadeup, () => {
      section2hrFadeup.classList.add(
        "animate__animated",
        "animate__fadeInUpBig"
      );
    });

    // <-- inview section2 knap -->
    const section2knapFadeup = document.querySelector("#section2knap");

    inView(section2knapFadeup, () => {
      section2knapFadeup.classList.add(
        "animate__animated",
        "animate__fadeInUpBig"
      );
    });
  </script>
  <script>
    // <-- inview trekanter -->
    import { inView } from "motion";
    import { animate } from "motion";

    inView(".mangeelementerinview", () => {
      for (let i = 1; i <= 60; i++) {
        animate(
          `.mangeelementer${i}`,
          { x: [-2000 + i * 50, 0], y: [-50 + i * 10, 0] },
          { duration: 1 + (i % 3) }
        );
      }
    });
  </script>
</MainLayout>
