---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import forside from "../assets/images/forside.webp";
import kaffer from "../assets/images/kaffer.webp";
import LysBorderButton from "../components/LysBorderButton.astro";
import LysButton from "../components/LysButton.astro";
import kaffeflyver from "../assets/images/kaffeflyver.webp";
import steps from "../assets/images/steps.png";
import ansatte from "../assets/images/ansatte.webp";
import farm from "../assets/images/farm.webp";
import farmer2 from "../assets/images/farmer2.webp";
import farmer3 from "../assets/images/farmer3.webp";
import farmer4 from "../assets/images/farmer4.webp";
import GronBorderButton from "../components/GronBorderButton.astro";
import GronButton from "../components/GronButton.astro";
import RodBorderButton from "../components/RodBorderButton.astro";
import RodButton from "../components/RodButton.astro";
import BlaButton from "../components/BlaButton.astro";
import "motion";
---

<MainLayout title="Coffee Collective">
  <article>
    <section>
      <Image
        src={forside}
        alt="billeder af en kaffe samt 2 poser kaffebønner"
        class="w-full h-[800px] object-cover z-10 brightness-50"
      />
      <div class="absolute z-30 top-1/2 left-10">
        <h1
          class="text-h1_mobil md:text-h1_desk font-bold uppercase h1_lysgrå pb-2"
        >
          BLIV DIN EGEN BARISTA
        </h1>
        <h2 class="text-h2_mobil md:text-h2_desk uppercase h2_lysgrå pb-2">
          få lækker kaffe leveret til døren
        </h2>
        <a href="/abonner"><RodButton>FIND DIT ABONNEMENT HER</RodButton></a>
      </div>
      <div class="relative">
        <div class="absolute z-20 bottom-0 right-0 hidden md:block">
          <svg
            class="w-full h-full p-md"
            viewBox="0 0 1234 134"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_417_5332)">
              <path
                d="M331.31 131.41H390.33V115.75H349.26V73.92H384.98V58.06H349.26V17.76H390.33V1.91003H331.31V131.41Z"
                fill="#FDFDFC"></path>
              <path
                d="M408.53 131.41H467.55V115.75H426.49V73.92H462.2V58.06H426.49V17.76H467.55V1.91003H408.53V131.41Z"
                fill="#FDFDFC"></path>
              <path
                d="M542.19 112.69C539.39 110.4 537.99 107.02 537.99 102.57V30.94C537.99 26.36 539.33 22.92 542 20.63C544.8 18.34 549.83 17.19 557.09 17.19C564.35 17.19 571.73 18.27 579.25 20.44V3.81996C572.37 1.90996 564.86 0.959961 556.71 0.959961C544.36 0.959961 535.13 3.50996 529.01 8.59996C522.9 13.57 519.84 20.57 519.84 29.61V103.72C519.84 122.82 532.06 132.37 556.51 132.37C565.42 132.37 573.19 131.35 579.81 129.31V113.08C572.55 115.12 565.17 116.14 557.65 116.14C550.13 116.14 544.98 114.99 542.18 112.7L542.19 112.69Z"
                fill="#FDFDFC"></path>
              <path
                d="M22.35 112.69C19.55 110.4 18.15 107.02 18.15 102.57V30.94C18.15 26.36 19.49 22.92 22.16 20.63C24.96 18.34 29.99 17.19 37.25 17.19C44.51 17.19 51.89 18.27 59.41 20.44V3.81996C52.53 1.90996 45.02 0.959961 36.87 0.959961C24.52 0.959961 15.29 3.50996 9.17 8.59996C3.06 13.56 0 20.56 0 29.6V103.71C0 122.81 12.22 132.36 36.67 132.36C45.58 132.36 53.35 131.34 59.97 129.3V113.07C52.71 115.11 45.33 116.13 37.81 116.13C30.29 116.13 25.14 114.98 22.34 112.69H22.35Z"
                fill="#FDFDFC"></path>
              <path
                d="M258.75 131.41H276.9V77.35H313.95V61.31H276.9V17.76H316.05V1.91003H258.75V131.41Z"
                fill="#FDFDFC"></path>
              <path
                d="M123.82 0.0999756C112.49 0.0999756 103.89 2.95997 98.0399 8.68997C92.3099 14.42 89.4399 22.06 89.4399 31.61V102.09C89.4399 111.51 92.3699 119.09 98.2299 124.82C104.09 130.55 112.68 133.42 124.02 133.42C135.36 133.42 143.95 130.56 149.8 124.82C155.66 119.09 158.59 111.51 158.59 102.09V31.61C158.59 22.19 155.66 14.61 149.8 8.87998C143.94 3.01998 135.28 0.0999756 123.82 0.0999756ZM122.28 133.15L104.85 43.65C101.12 24.51 110.52 5.21998 125.83 0.559976L143.26 90.06C146.99 109.2 137.59 128.49 122.28 133.15Z"
                fill="#FDFDFC"></path>
              <path
                d="M186.2 131.41H204.34V77.35H241.39V61.31H204.34V17.76H243.5V1.91003H186.2V131.41Z"
                fill="#FDFDFC"></path>
              <path
                d="M773.98 1.91003H755.84V131.41H811.8V115.94H773.98V1.91003Z"
                fill="#FDFDFC"></path>
              <path
                d="M1066.64 1.91003H1048.5V131.41H1066.64V1.91003Z"
                fill="#FDFDFC"></path>
              <path
                d="M967.86 17.76H992.5V131.41H1010.65V17.76H1035.29V1.91003H967.86V17.76Z"
                fill="#FDFDFC"></path>
              <path
                d="M1129.25 63.41C1128.48 67.61 1127.08 75.95 1125.04 88.43C1123.01 100.78 1121.42 109.57 1120.27 114.79C1119.76 112.12 1118.36 104.41 1116.07 91.68C1113.9 78.82 1108.11 48.9 1098.69 1.91003H1080.35L1107.66 131.41H1132.88L1160 1.91003H1141.28L1129.25 63.41Z"
                fill="#FDFDFC"></path>
              <path
                d="M1233.05 17.76V1.91003H1174.03V131.41H1233.05V115.75H1191.98V73.92H1227.7V58.06H1191.98V17.76H1233.05Z"
                fill="#FDFDFC"></path>
              <path
                d="M630.51 0C619.18 0 610.58 2.86 604.73 8.59C599 14.32 596.13 21.96 596.13 31.51V101.99C596.13 111.41 599.06 118.99 604.92 124.72C610.78 130.45 619.37 133.31 630.71 133.31C642.05 133.31 650.64 130.45 656.49 124.72C662.35 118.99 665.28 111.41 665.28 101.99V31.52C665.28 22.1 662.35 14.52 656.49 8.79C650.63 2.93 641.97 0 630.51 0ZM647.32 101.23C647.32 111.8 641.78 117.08 630.7 117.08C619.62 117.08 614.08 111.8 614.08 101.23V32.09C614.08 21.65 619.62 16.43 630.7 16.43C641.78 16.43 647.32 21.65 647.32 32.09V101.23Z"
                fill="#FDFDFC"></path>
              <path
                d="M705.16 1.91003H687.01V131.41H742.97V115.94H705.16V1.91003Z"
                fill="#FDFDFC"></path>
              <path
                d="M922.32 112.69C919.52 110.4 918.12 107.02 918.12 102.57V30.94C918.12 26.36 919.46 22.92 922.13 20.63C924.93 18.34 929.96 17.19 937.22 17.19C944.48 17.19 951.86 18.27 959.38 20.44V3.81996C952.5 1.90996 944.99 0.959961 936.84 0.959961C924.49 0.959961 915.26 3.50996 909.14 8.59996C903.03 13.57 899.97 20.57 899.97 29.61V103.72C899.97 122.82 912.19 132.37 936.64 132.37C945.55 132.37 953.32 131.35 959.94 129.31V113.08C952.68 115.12 945.3 116.14 937.78 116.14C930.26 116.14 925.11 114.99 922.31 112.7L922.32 112.69Z"
                fill="#FDFDFC"></path>
              <path
                d="M824.67 131.41H883.68V115.75H842.62V73.92H878.34V58.06H842.62V17.76H883.68V1.91003H824.67V131.41Z"
                fill="#FDFDFC"></path>
            </g>
            <defs>
              <clipPath id="clip0_417_5332">
                <rect width="1233.05" height="133.41" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
        </div>
      </div>
    </section>
    <section class="bg-grøn-500 md:pt-xl md:px-2xl px-md pt-md md:pb-s">
      <h4
        class="uppercase font-khand text-h4_mobil md:text-h4_desk text-brun-50"
        id="section1h4"
      >
        Kaffe
      </h4>
      <h2
        class="uppercase font-khand text-h2_mobil md:text-h2_desk text-brun-50 font-bold"
        id="section1h2"
      >
        Bryg din yndlingskaffe derhjemme
      </h2>
      <hr class="border-grå-50 border" id="section1hr" />

      <div
        class="md:grid md:grid-cols-2 md:mb-5xl font-montserrat text-brun-50 text-p_mobil md:text-p_desk"
      >
        <div id="section1p">
          <p class="py-s p_lysegrå">
            Perfekt til dig, der værdsætter en ren og balanceret kop kaffe, hvor
            hver nuance får lov at træde frem. <br />
          </p>
          <p class="p_lysegrå">
            Find din favorit blandt vores sortiment og oplev din kaffe på et
            helt nyt niveau.
          </p>
          <div class="flex-row flex gap-8 py-s">
            <GronBorderButton>UDFORSK VORES KAFFE</GronBorderButton>
            <a href="/abonner"><GronButton>ABONNER</GronButton></a>
          </div>
        </div>
        <div>
          <Image
            src={kaffer}
            alt="billeder af 4 kaffeposer"
            class="md:w-1/2 md:top-[950px] md:right-[50px] md:absolute md:object-cover md:z-20 pb-s"
          />
        </div>
      </div>
    </section>

    <section class="bg-rød-500 pb-xs md:px-2xl z-10 px-md md:pt-xl">
      <h4
        class="uppercase font-khand text-h4_mobil md:text-h4_desk text-brun-50 pt-md"
        id="section2h4"
      >
        Abonnement
      </h4>
      <h2
        class="uppercase font-khand text-h2_mobil md:text-h2_desk text-brun-50 font-bold relative z-40"
        id="section2h2"
      >
        Få lækker kaffe leveret lige til døren
      </h2>
      <hr class="border-grå-50 border" id="section2hr" />

      <div
        class="md:grid md:grid-cols-2 md:mb-5xl font-montserrat text-brun-50 text-p_mobil md:text-p_desk"
      >
        <div id="section2knap">
          <div class="flex-row flex py-s gap-8">
            <a href="/abonner"> <RodButton>ABONNER</RodButton></a>
            <a href="/shop"
              ><RodBorderButton> UDFORSK VORES KAFFE </RodBorderButton></a
            >
          </div>
        </div>
        <div>
          <Image
            src={kaffeflyver}
            alt="billeder af kaffeposer der flyver"
            class="md:w-2/5 md:top-[1760px] md:right-[100px] md:absolute md:object-cover md:z-20"
          />
        </div>
      </div>
    </section>
    <section
      class="grid justify-items-center pt-8 mx-4 mb-8 md:pt-12 md:mx-8 lg:pt-16 lg:mb-12"
    >
      <svg
        class="w-full max-w-[90%] h-auto md:max-w-[70%] lg:max-w-[50%]"
        width="828"
        height="891"
        viewBox="0 0 828 891"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M451.784 522.008C463.048 522.008 468.68 526.616 468.68 535.832V542.456C468.68 548.664 466.344 552.696 461.672 554.552C466.6 556.216 469.064 560.088 469.064 566.168V573.56C469.064 577.976 467.624 581.4 464.744 583.832C461.928 586.264 457.832 587.48 452.456 587.48C447.144 587.48 442.824 586.904 439.496 585.752V579.032C443.272 580.504 447.208 581.24 451.304 581.24C455.464 581.24 458.312 580.568 459.848 579.224C461.448 577.88 462.248 575.896 462.248 573.272V566.84C462.248 560.824 459.24 557.816 453.224 557.816H446.6V551.576H453.224C456.424 551.576 458.664 550.808 459.944 549.272C461.224 547.672 461.864 545.368 461.864 542.36V536.216C461.864 533.656 461.128 531.704 459.656 530.36C458.184 528.952 455.4 528.248 451.304 528.248C447.208 528.248 443.688 528.792 440.744 529.88V523.352C443.624 522.456 447.304 522.008 451.784 522.008ZM481.888 587.576C479.136 587.576 477.76 586.136 477.76 583.256C477.76 580.312 479.136 578.84 481.888 578.84C484.704 578.84 486.112 580.312 486.112 583.256C486.112 586.136 484.704 587.576 481.888 587.576Z"
          fill="#738874"></path>
        <path
          d="M457.064 99.488V164H450.152V106.496L438.056 115.328V107.648L449.288 99.488H457.064ZM470.919 164.576C468.167 164.576 466.791 163.136 466.791 160.256C466.791 157.312 468.167 155.84 470.919 155.84C473.735 155.84 475.143 157.312 475.143 160.256C475.143 163.136 473.735 164.576 470.919 164.576Z"
          fill="#738874"></path>
        <path
          d="M16.992 278.008C28.32 278.008 33.984 282.552 33.984 291.64V297.208C33.92 300.792 33.344 303.672 32.256 305.848C31.168 308.024 29.248 310.04 26.496 311.896L19.104 317.176C15.904 319.352 13.76 321.208 12.672 322.744C11.584 324.28 11.04 326.488 11.04 329.368V336.664H34.176V343H4.128V329.08C4.128 325.048 4.96 321.88 6.624 319.576C8.288 317.208 10.88 314.84 14.4 312.472L22.08 307C24.064 305.72 25.408 304.312 26.112 302.776C26.816 301.24 27.168 299.192 27.168 296.632V292.024C27.168 289.464 26.464 287.544 25.056 286.264C23.648 284.984 20.832 284.344 16.608 284.344C12.448 284.344 8.64 285.016 5.184 286.36V279.736C8.512 278.584 12.448 278.008 16.992 278.008ZM45.7313 343.576C42.9793 343.576 41.6033 342.136 41.6033 339.256C41.6033 336.312 42.9793 334.84 45.7313 334.84C48.5473 334.84 49.9553 336.312 49.9553 339.256C49.9553 342.136 48.5473 343.576 45.7313 343.576Z"
          fill="#738874"></path>
        <path
          d="M132.4 756.856V762.904H125.872V775H119.248V762.904H94.96V756.76L115.408 710.488H125.872V756.856H132.4ZM119.344 756.856V716.152L101.392 756.856H119.344ZM140.106 775.576C137.354 775.576 135.978 774.136 135.978 771.256C135.978 768.312 137.354 766.84 140.106 766.84C142.922 766.84 144.33 768.312 144.33 771.256C144.33 774.136 142.922 775.576 140.106 775.576Z"
          fill="#738874"></path>
        <path
          d="M504.323 96.168H506.617L502.06 117H498.96L494.403 96.168H496.666L498.867 106.522C499.652 110.676 500.2 113.456 500.51 114.861C500.675 114.034 500.954 112.608 501.347 110.583C501.781 108.372 502.773 103.567 504.323 96.168ZM526.951 98.121H520.1V105.53H526.052V107.483H520.1V115.047H526.951V117H517.961V111.172H512.102L509.529 117H507.235L516.628 96.168H526.951V98.121ZM517.961 109.25V97.78L512.939 109.25H517.961ZM529.561 96.168H531.762V115.078H538.086V117H529.561V96.168ZM540.058 100.601C540.058 99.175 540.523 98.059 541.453 97.253C542.404 96.4263 543.861 96.013 545.824 96.013C547.147 96.013 548.397 96.1887 549.575 96.54V98.648C548.356 98.2553 547.106 98.059 545.824 98.059C544.543 98.059 543.623 98.2863 543.065 98.741C542.528 99.175 542.259 99.8363 542.259 100.725V112.66C542.259 114.334 543.251 115.171 545.235 115.171C546.537 115.171 547.467 114.954 548.025 114.52V106.77H550.226V115.915C548.759 116.742 547.157 117.155 545.421 117.155C541.846 117.155 540.058 115.688 540.058 112.753V100.601ZM568.972 96.168H571.204V117H568.972V107.762H562.338V117H560.137V96.168H562.338V105.809H568.972V96.168ZM583.67 96.168H585.964L581.407 117H578.307L573.75 96.168H576.013L578.214 106.522C578.999 110.676 579.547 113.456 579.857 114.861C580.022 114.034 580.301 112.608 580.694 110.583C581.128 108.372 582.12 103.567 583.67 96.168ZM588.473 96.168H590.674V117H588.473V96.168ZM594.952 96.168H597.153V115.078H603.477V117H594.952V96.168ZM605.759 96.168H607.96V117H605.759V96.168ZM613.881 96.168H616.268L611.897 106.553L616.516 117H614.067L609.541 106.615L613.881 96.168ZM619.17 96.168H628.191V98.121H621.371V105.53H627.323V107.483H621.371V115.047H628.191V117H619.17V96.168ZM640.73 113.466L640.513 106.615V96.168H642.714V117H640.172L635.894 106.212C635.728 105.778 634.912 103.618 633.445 99.733L633.631 106.553V117H631.492V96.168H634.034C637.32 104.517 639.552 110.283 640.73 113.466ZM661.297 96.168V98.121H657.267V117H655.035V98.121H651.005V96.168H661.297ZM669.003 117H666.802V109.963L661.687 96.168H663.95L666.058 101.841C666.141 102.068 666.771 103.918 667.949 107.39C668.714 105.013 670.026 101.273 671.886 96.168H674.118L669.003 109.963V117ZM684.261 100.973C684.261 99.0717 683.279 98.121 681.316 98.121H678.588V107.886H681.316C683.279 107.886 684.261 106.946 684.261 105.065V100.973ZM676.387 96.168H681.44C683.073 96.168 684.313 96.5917 685.16 97.439C686.028 98.2863 686.462 99.423 686.462 100.849V105.158C686.462 106.605 686.038 107.752 685.191 108.599C684.344 109.426 683.093 109.839 681.44 109.839H678.588V117H676.387V96.168ZM690.01 96.168H699.031V98.121H692.211V105.53H698.163V107.483H692.211V115.047H699.031V117H690.01V96.168ZM496.139 143.168H498.34V164H496.139V143.168ZM504.261 143.168H506.648L502.277 153.553L506.896 164H504.447L499.921 153.615L504.261 143.168ZM518.261 164L516.99 158.172H511.41L510.139 164H507.938L512.65 143.168H515.75L520.462 164H518.261ZM511.813 156.25H516.556L514.169 145.307L511.813 156.25ZM523.143 143.168H531.916V145.121H525.344V152.933H531.575V154.917H525.344V164H523.143V143.168ZM534.647 143.168H543.42V145.121H536.848V152.933H543.079V154.917H536.848V164H534.647V143.168ZM546.151 143.168H555.172V145.121H548.352V152.53H554.304V154.483H548.352V162.047H555.172V164H546.151V143.168ZM572.622 147.88C572.622 146.02 571.64 145.09 569.677 145.09H566.546V162.047H569.677C571.64 162.047 572.622 161.096 572.622 159.195V147.88ZM564.345 143.168H569.801C571.454 143.168 572.705 143.592 573.552 144.439C574.399 145.286 574.823 146.423 574.823 147.849V159.257C574.823 160.724 574.41 161.882 573.583 162.729C572.756 163.576 571.516 164 569.863 164H564.345V143.168ZM586.877 143.168H589.078V159.412C589.078 160.879 588.634 162.068 587.745 162.977C586.877 163.866 585.575 164.31 583.839 164.31C582.103 164.31 580.791 163.866 579.902 162.977C579.034 162.068 578.6 160.879 578.6 159.412V143.168H580.801V159.35C580.801 161.334 581.814 162.326 583.839 162.326C585.865 162.326 586.877 161.334 586.877 159.35V143.168ZM609.268 147.787V159.412C609.268 160.879 608.823 162.068 607.935 162.977C607.046 163.866 605.827 164.31 604.277 164.31C602.727 164.31 601.507 164.01 600.619 163.411L600.371 164H598.728L599.503 162.233C599.007 161.427 598.759 160.487 598.759 159.412V147.787C598.759 146.32 599.203 145.131 600.092 144.222C600.98 143.313 602.189 142.858 603.719 142.858C605.269 142.858 606.488 143.158 607.377 143.757L607.625 143.168H609.299L608.524 144.966C609.02 145.751 609.268 146.692 609.268 147.787ZM600.96 147.818V158.761L606.478 145.834C605.982 145.193 605.155 144.873 603.998 144.873C601.972 144.873 600.96 145.855 600.96 147.818ZM607.067 159.35V148.376L601.518 161.334C602.014 161.995 602.84 162.326 603.998 162.326C606.044 162.326 607.067 161.334 607.067 159.35ZM622.475 160.466L622.258 153.615V143.168H624.459V164H621.917L617.639 153.212C617.473 152.778 616.657 150.618 615.19 146.733L615.376 153.553V164H613.237V143.168H615.779C619.065 151.517 621.297 157.283 622.475 160.466ZM627.466 147.384C627.466 146.02 627.92 144.956 628.83 144.191C629.739 143.406 631.01 143.013 632.643 143.013C634.296 143.013 635.691 143.189 636.828 143.54V145.648C635.753 145.255 634.441 145.059 632.891 145.059C630.762 145.059 629.698 145.865 629.698 147.477V148.965C629.698 149.688 629.832 150.257 630.101 150.67C630.39 151.083 630.865 151.476 631.527 151.848L635.123 153.863C636.797 154.772 637.634 156.147 637.634 157.986V159.66C637.634 161.086 637.148 162.192 636.177 162.977C635.205 163.762 633.8 164.155 631.961 164.155C630.142 164.155 628.695 163.948 627.621 163.535V161.427C628.84 161.882 630.225 162.109 631.775 162.109C634.213 162.109 635.433 161.251 635.433 159.536V158.234C635.433 157.552 635.309 157.015 635.061 156.622C634.813 156.229 634.368 155.857 633.728 155.506L630.163 153.553C628.365 152.582 627.466 151.135 627.466 149.213V147.384ZM640.755 143.168H642.956V164H640.755V143.168ZM648.877 143.168H651.264L646.893 153.553L651.512 164H649.063L644.537 153.615L648.877 143.168ZM654.166 143.168H663.187V145.121H656.367V152.53H662.319V154.483H656.367V162.047H663.187V164H654.166V143.168ZM671.758 155.63H668.689V164H666.488V143.168H671.541C673.194 143.168 674.444 143.592 675.292 144.439C676.139 145.266 676.563 146.402 676.563 147.849V150.918C676.563 153.15 675.674 154.597 673.897 155.258L677.214 164H674.796L671.758 155.63ZM668.689 153.708H671.448C673.39 153.708 674.362 152.768 674.362 150.887V147.942C674.362 146.061 673.39 145.121 671.448 145.121H668.689V153.708Z"
          fill="#5B6B5D"></path>
        <rect
          x="251.943"
          y="38"
          width="77.3031"
          height="116.854"
          rx="38.6515"
          transform="rotate(15.2031 251.943 38)"
          fill="#738874"></rect>
        <path
          d="M290.917 48.5914C276.159 47.6916 263.467 58.9255 262.567 73.6831L257.271 160.539C272.028 161.439 284.721 150.205 285.621 135.448L290.917 48.5914Z"
          fill="#FCFAF7"></path>
        <rect
          width="77.3031"
          height="116.854"
          rx="38.6515"
          transform="matrix(0.965002 -0.262241 -0.262241 -0.965002 199.644 179.356)"
          fill="#B6787D"></rect>
        <path
          d="M238.618 168.765C223.86 169.665 211.167 158.431 210.267 143.673L204.971 56.8169C219.729 55.9171 232.422 67.151 233.322 81.9086L238.618 168.765Z"
          fill="#FCFAF7"></path>
        <path
          d="M82.323 322.168H84.617L80.06 343H76.96L72.403 322.168H74.666L76.867 332.522C77.6523 336.676 78.2 339.456 78.51 340.861C78.6753 340.034 78.9543 338.608 79.347 336.583C79.781 334.372 80.773 329.567 82.323 322.168ZM104.951 324.121H98.1003V331.53H104.052V333.483H98.1003V341.047H104.951V343H95.9613V337.172H90.1023L87.5293 343H85.2353L94.6283 322.168H104.951V324.121ZM95.9613 335.25V323.78L90.9393 335.25H95.9613ZM107.561 322.168H109.762V341.078H116.086V343H107.561V322.168ZM118.058 326.601C118.058 325.175 118.523 324.059 119.453 323.253C120.404 322.426 121.861 322.013 123.824 322.013C125.147 322.013 126.397 322.189 127.575 322.54V324.648C126.356 324.255 125.106 324.059 123.824 324.059C122.543 324.059 121.623 324.286 121.065 324.741C120.528 325.175 120.259 325.836 120.259 326.725V338.66C120.259 340.334 121.251 341.171 123.235 341.171C124.537 341.171 125.467 340.954 126.025 340.52V332.77H128.226V341.915C126.759 342.742 125.157 343.155 123.421 343.155C119.846 343.155 118.058 341.688 118.058 338.753V326.601ZM146.569 322.168V324.121H142.539V343H140.307V324.121H136.277V322.168H146.569ZM154.276 343H152.075V335.963L146.96 322.168H149.223L151.331 327.841C151.414 328.068 152.044 329.918 153.222 333.39C153.987 331.013 155.299 327.273 157.159 322.168H159.391L154.276 335.963V343ZM169.534 326.973C169.534 325.072 168.552 324.121 166.589 324.121H163.861V333.886H166.589C168.552 333.886 169.534 332.946 169.534 331.065V326.973ZM161.66 322.168H166.713C168.345 322.168 169.585 322.592 170.433 323.439C171.301 324.286 171.735 325.423 171.735 326.849V331.158C171.735 332.605 171.311 333.752 170.464 334.599C169.616 335.426 168.366 335.839 166.713 335.839H163.861V343H161.66V322.168ZM175.283 322.168H184.304V324.121H177.484V331.53H183.436V333.483H177.484V341.047H184.304V343H175.283V322.168ZM202.188 343L200.917 337.172H195.337L194.066 343H191.865L196.577 322.168H199.677L204.389 343H202.188ZM195.74 335.25H200.483L198.096 324.307L195.74 335.25ZM217.424 326.88V328.647C217.424 330.631 216.659 331.912 215.13 332.491C216.783 333.049 217.61 334.361 217.61 336.428V338.288C217.61 339.755 217.186 340.913 216.339 341.76C215.512 342.587 214.272 343 212.619 343H207.07V322.168H212.433C214.086 322.168 215.326 322.592 216.153 323.439C217 324.266 217.424 325.413 217.424 326.88ZM212.247 324.09H209.271V331.561H212.247C214.231 331.561 215.223 330.61 215.223 328.709V326.942C215.223 325.041 214.231 324.09 212.247 324.09ZM215.409 338.226V336.366C215.409 334.465 214.417 333.514 212.433 333.514H209.271V341.078H212.433C214.417 341.078 215.409 340.127 215.409 338.226ZM229.569 326.818C229.569 324.855 228.546 323.873 226.5 323.873C224.474 323.873 223.462 324.855 223.462 326.818V338.35C223.462 340.334 224.474 341.326 226.5 341.326C228.546 341.326 229.569 340.334 229.569 338.35V326.818ZM221.261 326.787C221.261 325.32 221.705 324.131 222.594 323.222C223.482 322.313 224.784 321.858 226.5 321.858C228.236 321.858 229.548 322.313 230.437 323.222C231.325 324.131 231.77 325.32 231.77 326.787V338.412C231.77 339.879 231.325 341.068 230.437 341.977C229.548 342.866 228.236 343.31 226.5 343.31C224.764 343.31 223.451 342.866 222.563 341.977C221.695 341.068 221.261 339.879 221.261 338.412V326.787ZM244.977 339.466L244.76 332.615V322.168H246.961V343H244.419L240.141 332.212C239.975 331.778 239.159 329.618 237.692 325.733L237.878 332.553V343H235.739V322.168H238.281C241.567 330.517 243.799 336.283 244.977 339.466ZM260.477 339.466L260.26 332.615V322.168H262.461V343H259.919L255.641 332.212C255.475 331.778 254.659 329.618 253.192 325.733L253.378 332.553V343H251.239V322.168H253.781C257.067 330.517 259.299 336.283 260.477 339.466ZM266.739 322.168H275.76V324.121H268.94V331.53H274.892V333.483H268.94V341.047H275.76V343H266.739V322.168ZM293.723 322.168V343H291.615V332.026C291.615 329.897 291.677 327.841 291.801 325.857L287.554 337.451H285.229L280.92 325.857C281.065 327.779 281.137 329.825 281.137 331.995V343H279.06V322.168H281.664L286.376 335.219L291.088 322.168H293.723ZM298.011 322.168H307.032V324.121H300.212V331.53H306.164V333.483H300.212V341.047H307.032V343H298.011V322.168ZM319.57 339.466L319.353 332.615V322.168H321.554V343H319.012L314.734 332.212C314.569 331.778 313.753 329.618 312.285 325.733L312.471 332.553V343H310.332V322.168H312.874C316.16 330.517 318.392 336.283 319.57 339.466ZM334.264 322.168V324.121H330.234V343H328.002V324.121H323.972V322.168H334.264Z"
          fill="#5B6B5D"></path>
        <path
          d="M512.323 521.168H514.617L510.06 542H506.96L502.403 521.168H504.666L506.867 531.522C507.652 535.676 508.2 538.456 508.51 539.861C508.675 539.034 508.954 537.608 509.347 535.583C509.781 533.372 510.773 528.567 512.323 521.168ZM534.951 523.121H528.1V530.53H534.052V532.483H528.1V540.047H534.951V542H525.961V536.172H520.102L517.529 542H515.235L524.628 521.168H534.951V523.121ZM525.961 534.25V522.78L520.939 534.25H525.961ZM537.561 521.168H539.762V540.078H546.086V542H537.561V521.168ZM548.058 525.601C548.058 524.175 548.523 523.059 549.453 522.253C550.404 521.426 551.861 521.013 553.824 521.013C555.147 521.013 556.397 521.189 557.575 521.54V523.648C556.356 523.255 555.106 523.059 553.824 523.059C552.543 523.059 551.623 523.286 551.065 523.741C550.528 524.175 550.259 524.836 550.259 525.725V537.66C550.259 539.334 551.251 540.171 553.235 540.171C554.537 540.171 555.467 539.954 556.025 539.52V531.77H558.226V540.915C556.759 541.742 555.157 542.155 553.421 542.155C549.846 542.155 548.058 540.688 548.058 537.753V525.601ZM568.137 521.168H576.91V523.121H570.338V530.933H576.569V532.917H570.338V542H568.137V521.168ZM584.911 533.63H581.842V542H579.641V521.168H584.694C586.347 521.168 587.598 521.592 588.445 522.439C589.292 523.266 589.716 524.402 589.716 525.849V528.918C589.716 531.15 588.827 532.597 587.05 533.258L590.367 542H587.949L584.911 533.63ZM581.842 531.708H584.601C586.544 531.708 587.515 530.768 587.515 528.887V525.942C587.515 524.061 586.544 523.121 584.601 523.121H581.842V531.708ZM593.809 521.168H602.83V523.121H596.01V530.53H601.962V532.483H596.01V540.047H602.83V542H593.809V521.168ZM606.13 521.168H608.331V542H606.13V521.168ZM614.252 521.168H616.639L612.268 531.553L616.887 542H614.438L609.912 531.615L614.252 521.168ZM627.725 521.168H630.019L625.462 542H622.362L617.805 521.168H620.068L622.269 531.522C623.055 535.676 623.602 538.456 623.912 539.861C624.078 539.034 624.357 537.608 624.749 535.583C625.183 533.372 626.175 528.567 627.725 521.168ZM632.529 521.168H641.55V523.121H634.73V530.53H640.682V532.483H634.73V540.047H641.55V542H632.529V521.168ZM654.088 538.466L653.871 531.615V521.168H656.072V542H653.53L649.252 531.212C649.087 530.778 648.27 528.618 646.803 524.733L646.989 531.553V542H644.85V521.168H647.392C650.678 529.517 652.91 535.283 654.088 538.466ZM659.079 525.384C659.079 524.02 659.534 522.956 660.443 522.191C661.352 521.406 662.623 521.013 664.256 521.013C665.909 521.013 667.304 521.189 668.441 521.54V523.648C667.366 523.255 666.054 523.059 664.504 523.059C662.375 523.059 661.311 523.865 661.311 525.477V526.965C661.311 527.688 661.445 528.257 661.714 528.67C662.003 529.083 662.479 529.476 663.14 529.848L666.736 531.863C668.41 532.772 669.247 534.147 669.247 535.986V537.66C669.247 539.086 668.761 540.192 667.79 540.977C666.819 541.762 665.413 542.155 663.574 542.155C661.755 542.155 660.309 541.948 659.234 541.535V539.427C660.453 539.882 661.838 540.109 663.388 540.109C665.827 540.109 667.046 539.251 667.046 537.536V536.234C667.046 535.552 666.922 535.015 666.674 534.622C666.426 534.229 665.982 533.857 665.341 533.506L661.776 531.553C659.978 530.582 659.079 529.135 659.079 527.213V525.384ZM672.368 521.168H681.389V523.121H674.569V530.53H680.521V532.483H674.569V540.047H681.389V542H672.368V521.168ZM693.928 538.466L693.711 531.615V521.168H695.912V542H693.37L689.092 531.212C688.926 530.778 688.11 528.618 686.643 524.733L686.829 531.553V542H684.69V521.168H687.232C690.518 529.517 692.75 535.283 693.928 538.466ZM714.34 525.88C714.34 524.02 713.358 523.09 711.395 523.09H708.264V540.047H711.395C713.358 540.047 714.34 539.096 714.34 537.195V525.88ZM706.063 521.168H711.519C713.172 521.168 714.422 521.592 715.27 522.439C716.117 523.286 716.541 524.423 716.541 525.849V537.257C716.541 538.724 716.127 539.882 715.301 540.729C714.474 541.576 713.234 542 711.581 542H706.063V521.168ZM728.595 521.168H730.796V537.412C730.796 538.879 730.352 540.068 729.463 540.977C728.595 541.866 727.293 542.31 725.557 542.31C723.821 542.31 722.509 541.866 721.62 540.977C720.752 540.068 720.318 538.879 720.318 537.412V521.168H722.519V537.35C722.519 539.334 723.532 540.326 725.557 540.326C727.582 540.326 728.595 539.334 728.595 537.35V521.168ZM748.97 521.168H751.264L746.707 542H743.607L739.05 521.168H741.313L743.514 531.522C744.3 535.676 744.847 538.456 745.157 539.861C745.323 539.034 745.602 537.608 745.994 535.583C746.428 533.372 747.42 528.567 748.97 521.168ZM753.774 521.168H755.975V542H753.774V521.168ZM760.252 521.168H762.453V540.078H768.777V542H760.252V521.168ZM518.802 568.168V589H516.694V578.026C516.694 575.897 516.756 573.841 516.88 571.857L512.633 583.451H510.308L505.999 571.857C506.144 573.779 506.216 575.825 506.216 577.995V589H504.139V568.168H506.743L511.455 581.219L516.167 568.168H518.802ZM531.088 572.818C531.088 570.855 530.065 569.873 528.019 569.873C525.994 569.873 524.981 570.855 524.981 572.818V584.35C524.981 586.334 525.994 587.326 528.019 587.326C530.065 587.326 531.088 586.334 531.088 584.35V572.818ZM522.78 572.787C522.78 571.32 523.225 570.131 524.113 569.222C525.002 568.313 526.304 567.858 528.019 567.858C529.755 567.858 531.068 568.313 531.956 569.222C532.845 570.131 533.289 571.32 533.289 572.787V584.412C533.289 585.879 532.845 587.068 531.956 587.977C531.068 588.866 529.755 589.31 528.019 589.31C526.283 589.31 524.971 588.866 524.082 587.977C523.214 587.068 522.78 585.879 522.78 584.412V572.787ZM545.535 572.88C545.535 571.02 544.553 570.09 542.59 570.09H539.459V587.047H542.59C544.553 587.047 545.535 586.096 545.535 584.195V572.88ZM537.258 568.168H542.714C544.367 568.168 545.618 568.592 546.465 569.439C547.312 570.286 547.736 571.423 547.736 572.849V584.257C547.736 585.724 547.323 586.882 546.496 587.729C545.669 588.576 544.429 589 542.776 589H537.258V568.168ZM560.1 568.168V570.121H556.07V589H553.838V570.121H549.808V568.168H560.1ZM571.217 589L569.946 583.172H564.366L563.095 589H560.894L565.606 568.168H568.706L573.418 589H571.217ZM564.769 581.25H569.512L567.125 570.307L564.769 581.25ZM575.789 572.601C575.789 571.175 576.254 570.059 577.184 569.253C578.135 568.426 579.592 568.013 581.555 568.013C582.878 568.013 584.128 568.189 585.306 568.54V570.648C584.087 570.255 582.836 570.059 581.555 570.059C580.274 570.059 579.354 570.286 578.796 570.741C578.259 571.175 577.99 571.836 577.99 572.725V584.66C577.99 586.334 578.982 587.171 580.966 587.171C582.268 587.171 583.198 586.954 583.756 586.52V578.77H585.957V587.915C584.49 588.742 582.888 589.155 581.152 589.155C577.577 589.155 575.789 587.688 575.789 584.753V572.601ZM589.994 568.168H599.015V570.121H592.195V577.53H598.147V579.483H592.195V587.047H599.015V589H589.994V568.168ZM608.189 568.168H610.39V589H608.189V568.168ZM616.311 568.168H618.698L614.327 578.553L618.946 589H616.497L611.971 578.615L616.311 568.168ZM630.311 589L629.04 583.172H623.46L622.189 589H619.988L624.7 568.168H627.8L632.512 589H630.311ZM623.863 581.25H628.606L626.219 570.307L623.863 581.25ZM635.193 568.168H643.966V570.121H637.394V577.933H643.625V579.917H637.394V589H635.193V568.168ZM646.697 568.168H655.47V570.121H648.898V577.933H655.129V579.917H648.898V589H646.697V568.168ZM658.201 568.168H667.222V570.121H660.402V577.53H666.354V579.483H660.402V587.047H667.222V589H658.201V568.168ZM679.76 585.466L679.543 578.615V568.168H681.744V589H679.202L674.924 578.212C674.758 577.778 673.942 575.618 672.475 571.733L672.661 578.553V589H670.522V568.168H673.064C676.35 576.517 678.582 582.283 679.76 585.466Z"
          fill="#5B6B5D"></path>
        <path
          d="M167.139 754.168H175.912V756.121H169.34V763.933H175.571V765.917H169.34V775H167.139V754.168ZM188.842 758.787V770.412C188.842 771.879 188.398 773.068 187.509 773.977C186.62 774.866 185.401 775.31 183.851 775.31C182.301 775.31 181.082 775.01 180.193 774.411L179.945 775H178.302L179.077 773.233C178.581 772.427 178.333 771.487 178.333 770.412V758.787C178.333 757.32 178.777 756.131 179.666 755.222C180.555 754.313 181.764 753.858 183.293 753.858C184.843 753.858 186.062 754.158 186.951 754.757L187.199 754.168H188.873L188.098 755.966C188.594 756.751 188.842 757.692 188.842 758.787ZM180.534 758.818V769.761L186.052 756.834C185.556 756.193 184.729 755.873 183.572 755.873C181.547 755.873 180.534 756.855 180.534 758.818ZM186.641 770.35V759.376L181.092 772.334C181.588 772.995 182.415 773.326 183.572 773.326C185.618 773.326 186.641 772.334 186.641 770.35ZM192.842 754.168H195.043V768.862C195.043 771.507 194.702 774.008 194.02 776.364L193.059 779.619H190.796L191.726 776.364C192.47 773.719 192.842 771.228 192.842 768.893V754.168ZM213.47 758.88C213.47 757.02 212.488 756.09 210.525 756.09H207.394V773.047H210.525C212.488 773.047 213.47 772.096 213.47 770.195V758.88ZM205.193 754.168H210.649C212.302 754.168 213.552 754.592 214.4 755.439C215.247 756.286 215.671 757.423 215.671 758.849V770.257C215.671 771.724 215.257 772.882 214.431 773.729C213.604 774.576 212.364 775 210.711 775H205.193V754.168ZM219.603 754.168H228.624V756.121H221.804V763.53H227.756V765.483H221.804V773.047H228.624V775H219.603V754.168ZM240.356 754.168V756.121H236.326V775H234.094V756.121H230.064V754.168H240.356ZM257.067 754.168V756.121H253.037V775H250.805V756.121H246.775V754.168H257.067ZM259.473 754.168H261.674V775H259.473V754.168ZM265.952 754.168H268.153V773.078H274.477V775H265.952V754.168ZM282.632 754.168H284.833V775H282.632V754.168ZM290.754 754.168H293.141L288.77 764.553L293.389 775H290.94L286.414 764.615L290.754 754.168ZM304.165 754.168H306.366V770.412C306.366 771.879 305.922 773.068 305.033 773.977C304.165 774.866 302.863 775.31 301.127 775.31C299.391 775.31 298.079 774.866 297.19 773.977C296.322 773.068 295.888 771.879 295.888 770.412V754.168H298.089V770.35C298.089 772.334 299.102 773.326 301.127 773.326C303.153 773.326 304.165 772.334 304.165 770.35V754.168ZM315.754 766.63H312.685V775H310.484V754.168H315.537C317.19 754.168 318.44 754.592 319.288 755.439C320.135 756.266 320.559 757.402 320.559 758.849V761.918C320.559 764.15 319.67 765.597 317.893 766.258L321.21 775H318.792L315.754 766.63ZM312.685 764.708H315.444C317.386 764.708 318.358 763.768 318.358 761.887V758.942C318.358 757.061 317.386 756.121 315.444 756.121H312.685V764.708ZM332.836 754.168H335.13L330.573 775H327.473L322.916 754.168H325.179L327.38 764.522C328.165 768.676 328.713 771.456 329.023 772.861C329.188 772.034 329.467 770.608 329.86 768.583C330.294 766.372 331.286 761.567 332.836 754.168Z"
          fill="#5B6B5D"></path>
        <line
          x1="385.5"
          y1="0.0067415"
          x2="381.5"
          y2="890.007"
          stroke="black"
          stroke-width="3"></line>
        <rect
          x="567.956"
          y="281.085"
          width="39.4368"
          height="21.6361"
          transform="rotate(90 567.956 281.085)"
          fill="#8E9F8F"></rect>
        <ellipse
          cx="18.7592"
          cy="13.0961"
          rx="18.7592"
          ry="13.0961"
          transform="matrix(0.0161851 0.999869 -0.999796 0.0201983 561.658 281.809)"
          fill="#F5F5F5"></ellipse>
        <rect x="437" y="269" width="112.166" height="57.247" fill="#8E9F8F"
        ></rect>
        <rect
          x="470.023"
          y="326.247"
          width="45.5496"
          height="41.3451"
          fill="#8E9F8F"></rect>
        <path
          d="M487.211 326.434L470.308 367.063L437 325.925L487.211 326.434Z"
          fill="#8E9F8F"></path>
        <path
          d="M499.631 326.247L515.033 367.661L549.166 326.247L499.631 326.247Z"
          fill="#8E9F8F"></path>
        <rect
          x="702.956"
          y="280.085"
          width="39.4368"
          height="21.6361"
          transform="rotate(90 702.956 280.085)"
          fill="#738874"></rect>
        <ellipse
          cx="18.7592"
          cy="13.0961"
          rx="18.7592"
          ry="13.0961"
          transform="matrix(0.0161851 0.999869 -0.999796 0.0201983 696.658 280.809)"
          fill="#F5F5F5"></ellipse>
        <rect x="572" y="268" width="112.166" height="57.247" fill="#738874"
        ></rect>
        <rect
          x="605.023"
          y="325.247"
          width="45.5496"
          height="41.3451"
          fill="#738874"></rect>
        <path
          d="M622.211 325.434L605.308 366.063L572 324.925L622.211 325.434Z"
          fill="#738874"></path>
        <path
          d="M634.631 325.247L650.033 366.661L684.166 325.247L634.631 325.247Z"
          fill="#738874"></path>
        <rect
          width="51.7386"
          height="80.4668"
          rx="25.8693"
          transform="matrix(0.962747 0.270404 -0.254289 0.967128 227.384 497.188)"
          fill="#5B6B5D"></rect>
        <path
          d="M253.408 504.497C243.554 503.876 235.094 511.363 234.513 521.22L230.941 581.756C240.796 582.377 249.255 574.89 249.837 565.034L253.408 504.497Z"
          fill="#FCFAF7"></path>
        <rect
          width="51.7386"
          height="80.4668"
          rx="25.8693"
          transform="matrix(0.962747 -0.270404 -0.254289 -0.967128 192.462 582.812)"
          fill="#738874"></rect>
        <path
          d="M218.486 575.502C208.632 576.123 200.172 568.637 199.591 558.78L196.02 498.244C205.874 497.623 214.333 505.11 214.915 514.966L218.486 575.502Z"
          fill="#FCFAF7"></path>
        <path
          d="M292.269 579.08C300.968 563.265 303.957 544.8 300.709 526.94C297.461 509.081 288.185 492.974 274.517 481.46M274.517 481.46V499.962M274.517 481.46H292.269"
          stroke="#738874"
          stroke-width="4"
          stroke-linecap="square"
          stroke-linejoin="round"></path>
        <path
          d="M264.619 470.718C248.804 462.019 230.339 459.03 212.48 462.278C194.62 465.526 178.514 474.802 167 488.47M167 488.47H185.502M167 488.47V470.718"
          stroke="#738874"
          stroke-width="4"
          stroke-linecap="square"
          stroke-linejoin="round"></path>
        <path
          d="M155.137 498C147.853 513.876 145.351 532.413 148.07 550.343C150.789 568.272 158.556 584.441 170 596M170 596V577.426M170 596H155.137"
          stroke="#738874"
          stroke-width="4"
          stroke-linecap="square"
          stroke-linejoin="round"></path>
        <path
          d="M185 606.863C200.876 614.147 219.414 616.649 237.343 613.93C255.272 611.211 271.441 603.444 283 592M283 592H264.426M283 592V606.863"
          stroke="#738874"
          stroke-width="4"
          stroke-linecap="square"
          stroke-linejoin="round"></path>
        <path
          d="M589 290L618.5 336L666.998 252"
          stroke="#465347"
          stroke-width="4"></path>
        <path
          d="M463 741L480.071 686H549.072L566 735.52"
          stroke="#975357"
          stroke-width="10"></path>
        <path d="M566.7 819L469.187 819L451 729H581L566.7 819Z" fill="#B6787D"
        ></path>
        <line
          y1="-2"
          x2="73.5707"
          y2="-2"
          transform="matrix(0.159008 0.987277 -0.984666 0.174448 467.378 739.004)"
          stroke="#E2CACC"
          stroke-width="4"></line>
        <line
          y1="-2"
          x2="72.8168"
          y2="-2"
          transform="matrix(0.0706878 0.997498 -0.996975 0.0777167 499.197 739.004)"
          stroke="#E2CACC"
          stroke-width="4"></line>
        <line
          y1="-2"
          x2="73.5707"
          y2="-2"
          transform="matrix(-0.159008 0.987277 0.984666 0.174448 565.644 739.004)"
          stroke="#E2CACC"
          stroke-width="4"></line>
        <line
          y1="-2"
          x2="72.8168"
          y2="-2"
          transform="matrix(-0.0706878 0.997498 0.996975 0.0777167 537.567 739.004)"
          stroke="#E2CACC"
          stroke-width="4"></line>
      </svg>
    </section>
    <section class="bg-blå-50 md:py-xl md:px-2xl px-md py-s">
      <h4
        class="uppercase font-khand text-h4_mobil md:text-h4_desk text-blå-500"
      >
        Coffee collective
      </h4>
      <h2
        class="uppercase font-khand text-h2_mobil md:text-h2_desk text-blå-500 font-bold"
      >
        HVEM ER COFFEE COLLECTIVE
      </h2>
      <hr class="border-blå-500 border" />
      <div
        class="md:grid md:grid-cols-2 gap-20 font-montserrat p_blå text-p_mobil md:text-p_desk"
      >
        <div>
          <p class="py-s">
            Hos Coffee Collective leverer vi kaffe af højeste kvalitet med fokus
            på bæredygtighed og etisk handel. Vi samarbejder direkte med
            kaffefarmere for at sikre både enestående smag og
            arbejdsbetingelser.
          </p>
          <p>
            Hver dag rister vi kaffen frisk for at bevare dens unikke
            smagsnuancer. Gennem gennemsigtighed i processen – fra bønne til kop
            – inviterer vi dig til at opleve nordisk kaffekultur på et nyt
            niveau.
          </p>
          <div class="grid-cols-2 grid py-s">
            <a href="/omos"><BlaButton>LÆS MERE</BlaButton></a>
          </div>
        </div>
        <div>
          <Image
            src={ansatte}
            alt="billeder af ansatte hos coffee collective"
            class="py-s h-4/5 object-cover"
          />
        </div>
      </div>
    </section>
    <section class="bg-grøn-200 md:py-xl md:px-2xl px-md py-s reletive">
      <h4
        class="uppercase font-khand text-h4_mobil md:text-h4_desk text-grå-900"
      >
        BÆREDYGTIGHED
      </h4>
      <h2 class="uppercase text-h2_mobil md:text-h2_desk font-khand">
        Fra bønne til kop: En bæredygtig rejse
      </h2>

      <hr class="border-grå-900 border" />

      <div
        class="md:grid md:grid-cols-2 gap-10 font-montserrat text-grå-900 text-p_mobil md:text-p_desk"
      >
        <Image
          src={farm}
          alt="billeder af kvinde der plukker bønner fra kaffeplanter"
          class="h-[600px] w-full object-cover mt-s"
        />
        <div>
          <p class="mt-s p_grå">
            Hos Coffee Collective skaber vi kaffeoplevelser i verdensklasse med
            fokus på bæredygtighed og direkte handel. Som B Corp-certificeret
            prioriterer vi sociale og miljømæssige forbedringer, rister frisk
            kaffe dagligt og gør en positiv forskel – fra bønne til kop.
          </p>

          <div class="grid-cols-2 grid py-s pt-md">
            <a href="/omos#bæredygtighed"> <GronButton>LÆS MERE</GronButton></a>
          </div>
          <div class="grid md:grid-cols-3 gap-10 pt-[47px]">
            <Image
              src={farmer4}
              alt="billeder af en kaffefarmer"
              class="md:object-cover md:z-20"
            />
            <Image
              src={farmer3}
              alt="billeder af en farm"
              class="h-full md:object-cover md:z-20"
            />
            <Image
              src={farmer2}
              alt="billeder af 2 mænd på en kaffefarm"
              class="h-full md:object-cover md:z-20"
            />
          </div>
        </div>
      </div>
    </section>
    <section
      class="md:m-xl text-blå-600 px-md md:px-xl pt-xs pb-md relative z-20"
    >
      <div class="md:grid md:grid-cols-3 gap-40">
        <div class="md:col-span-2">
          <h2
            class="uppercase text-h2_mobil md:text-h2_desk font-khand font-bold pt-md"
          >
            NYHEDSBREV
          </h2>
          <p
            class="font-montserrat p_blå text-p_mobil md:text-p_desk pt-xs pr-md md:pr-5xl"
          >
            Få de seneste kaffelanceringer før alle andre og kom tættere på
            farmerne med unikke fortællinger fra deres hverdag.
          </p>
          <div class="">
            <form class="py-md grid grid-cols-2 gap-8">
              <!-- Email input -->
              <div>
                <label
                  for="email"
                  class="block text-sm font-montserrat font-medium text-gray-900"
                ></label>
                <input
                  type="email"
                  id="email"
                  class="w-full p-4 bg-blå-100 text-gray-900 font-montserrat outline-none border-none focus:outline-none focus:border-none focus:ring-0"
                  placeholder="E-mail"
                />
              </div>
              <div class="">
                <a href="/logind">
                  <BlaButton>TILMELD</BlaButton>
                </a>
              </div>
            </form>
          </div>
        </div>
        <div class="hidden md:block">
          <svg
            width="253"
            height="293"
            viewBox="0 0 253 293"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="253"
              y="144.603"
              width="66.9059"
              height="41.7999"
              transform="rotate(90 253 144.603)"
              fill="#4060A0"></rect>
            <ellipse
              cx="31.8268"
              cy="25.2998"
              rx="31.8268"
              ry="25.2998"
              transform="matrix(0.0184303 0.99983 -0.999843 0.0177378 240.835 145.831)"
              fill="#FCFAF7"></ellipse>
            <rect
              x="0.000488281"
              y="124.1"
              width="216.7"
              height="97.1215"
              fill="#4060A0"></rect>
            <ellipse
              cx="109.458"
              cy="204.497"
              rx="97.6606"
              ry="79.9637"
              fill="#FCFAF7"></ellipse>
            <rect
              x="63.8003"
              y="221.221"
              width="87.9998"
              height="70.1433"
              fill="#4060A0"></rect>
            <path
              d="M97.005 221.539L64.3499 290.467L-8.1104e-05 220.675L97.005 221.539Z"
              fill="#4060A0"></path>
            <path
              d="M121.001 221.221L150.756 291.481L216.7 221.221L121.001 221.221Z"
              fill="#4060A0"></path>
            <path
              d="M79.2002 0C91.9579 0 102.3 10.3422 102.3 23.1V28.6982C102.3 41.4559 91.9579 51.7981 79.2002 51.7981V0Z"
              fill="#4060A0"></path>
            <path
              d="M128.7 0C141.458 0 151.8 10.3422 151.8 23.1V28.6982C151.8 41.4559 141.458 51.7981 128.7 51.7981V0Z"
              fill="#4060A0"></path>
            <path
              d="M79.2002 51.7981C66.4424 51.7981 56.1002 62.1403 56.1002 74.8981V80.4963C56.1002 93.254 66.4424 103.596 79.2002 103.596V51.7981Z"
              fill="#4060A0"></path>
            <path
              d="M128.7 51.7981C115.942 51.7981 105.6 62.1403 105.6 74.8981V80.4963C105.6 93.254 115.942 103.596 128.7 103.596V51.7981Z"
              fill="#4060A0"></path>
          </svg>
        </div>
      </div>
    </section>

    <section class="absolute z-10 right-0 top-[5290px] hidden md:block">
      <div class="mangeelementerinview grid grid-cols-1 gap-4 relative z-0">
        <!-- Første række (2 trekant) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer1"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer1"
          >
          </div>
        </div>

        <!-- Anden række (4 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer2"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer3"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer2"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer3"
          >
          </div>
        </div>

        <!-- Tredje række (6 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer4"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer5"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer6"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer4"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer5"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer6"
          >
          </div>
        </div>

        <!-- Fjerde række (8 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer7"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer8"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer9"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer10"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer7"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer8"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer9"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer10"
          >
          </div>
        </div>

        <!-- Femte række (10 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer11"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer12"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer13"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer14"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer15"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer11"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer12"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer13"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer14"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer15"
          >
          </div>
        </div>
        <!-- Sjette række (12 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer16"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer17"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer18"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer19"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer20"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer21"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer16"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer17"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer18"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer19"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer20"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer21"
          >
          </div>
        </div>
        <!-- Syvende række (14 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer22"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer23"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer24"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer25"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer26"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer27"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer28"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer22"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer23"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer24"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer25"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer26"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer27"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer28"
          >
          </div>
        </div>
        <!-- Ottende række (16 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer29"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer30"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer31"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer32"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer33"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer34"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer35"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer36"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer29"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer30"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer31"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer32"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer33"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer34"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer35"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer36"
          >
          </div>
        </div>
        <!-- Niende række (18 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer37"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer38"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer39"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer40"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer41"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer42"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer43"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer44"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer45"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer37"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer38"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer39"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer40"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer41"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer42"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer43"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer44"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer45"
          >
          </div>
        </div>
        <!-- Tiende række (20 trekanter) -->
        <div class="flex justify-end mb-2">
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer46"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer47"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer48"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer49"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer50"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer51"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer52"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer53"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer54"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer55"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 opacity-50 mangeelementer46"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer47"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer48"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer49"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer50"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer51"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer52"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer53"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer54"
          >
          </div>
          <div
            class="w-0 h-0 border-l-[16px] border-r-[16px] border-b-[32px] border-transparent border-b-blue-200 rotate-270 ml-[8px] opacity-50 mangeelementer55"
          >
          </div>
        </div>
      </div>
    </section>
  </article>

  <style>
    .triangle {
      width: 0;
      height: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-bottom: 32px solid #bfdbfe; /* Blue-200 */
      opacity: 0.5;
      transform: rotate(-90deg);
    }

    .triangle + .triangle {
      margin-left: 8px;
    }
  </style>

  <script>
    import { inView } from "motion";
    import { animate } from "motion";

    // <-- animation section 1 -->
    // <-- inview section1 h2 -->
    const section1h2Fadeup = document.querySelector("#section1h2");

    inView(section1h2Fadeup, () => {
      section1h2Fadeup.classList.add(
        "animate__animated",
        "animate__fadeInUpBig"
      );
    });

    // <-- inview section1 h4 -->
    const section1h4Fadeup = document.querySelector("#section1h4");

    inView(section1h4Fadeup, () => {
      section1h4Fadeup.classList.add(
        "animate__animated",
        "animate__fadeInUpBig"
      );
    });

    // <-- inview section1 hr -->
    const section1hrFadeup = document.querySelector("#section1hr");

    inView(section1hrFadeup, () => {
      section1hrFadeup.classList.add(
        "animate__animated",
        "animate__fadeInUpBig"
      );
    });

    // <-- inview section1 p -->
    const section1pFadeup = document.querySelector("#section1p");

    inView(section1pFadeup, () => {
      section1pFadeup.classList.add(
        "animate__animated",
        "animate__fadeInUpBig"
      );
    });

    // <-- animation section 2 -->
    // <-- inview section2 h2 -->
    const section2h2Fadeup = document.querySelector("#section2h2");

    inView(section2h2Fadeup, () => {
      section2h2Fadeup.classList.add(
        "animate__animated",
        "animate__fadeInUpBig"
      );
    });

    // <-- inview section2 h4 -->
    const section2h4Fadeup = document.querySelector("#section2h4");

    inView(section2h4Fadeup, () => {
      section2h4Fadeup.classList.add(
        "animate__animated",
        "animate__fadeInUpBig"
      );
    });

    // <-- inview section2 hr -->
    const section2hrFadeup = document.querySelector("#section2hr");

    inView(section2hrFadeup, () => {
      section2hrFadeup.classList.add(
        "animate__animated",
        "animate__fadeInUpBig"
      );
    });

    // <-- inview section2 knap -->
    const section2knapFadeup = document.querySelector("#section2knap");

    inView(section2knapFadeup, () => {
      section2knapFadeup.classList.add(
        "animate__animated",
        "animate__fadeInUpBig"
      );
    });
  </script>
  <script>
    // <-- inview trekanter -->
    import { inView } from "motion";
    import { animate } from "motion";

    inView(".mangeelementerinview", () => {
      for (let i = 1; i <= 60; i++) {
        animate(
          `.mangeelementer${i}`,
          { x: [-2000 + i * 50, 0], y: [-50 + i * 10, 0] },
          { duration: 1 + (i % 3) }
        );
      }
    });
  </script>
</MainLayout>
