---
import Button from "../components/Button.astro";
import LysBorderButton from "../components/LysBorderButton.astro";
import LysButton from "../components/LysButton.astro";

const {
  cardimage = "",
  cardimagealt = "",

  kaffenavn = "",
  smag = "",
  pris = "",
  info = "",
} = Astro.props;
---

<section class="relative text-center max-w-72 lg:max-w-96 lg:pb-xl group">
  <div class="relative">
    <a href="/singleview">
      <img
        src={cardimage}
        alt={cardimagealt}
        class="h-[400px] w-full object-contain"
      />
    </a>
    <p class="p_grå lg:text-p_stordesk lg:mt-4 lg:pb-6">
      {kaffenavn}
    </p>
    <p class="p_grå lg:hidden text-p_lilledesk mt-4 pb-6">
      {pris}
    </p>
    <!-- Overlay -->
    <div
      class="hidden lg:block absolute inset-0 bg-grøn-600 text-white opacity-0 group-hover:opacity-100 bg-opacity-80 transition-opacity text-start px-s flex flex-col lg:flex lg:flex-col lg:justify-between"
    >
      <p class="font-montserrat lg:text-p_lilledesk pt-[230px]">{info}</p>
      <p class="font-montserrat lg:text-p_lilledesk">{smag}</p>
      <p class="font-montserrat lg:text-p_stordesk pt-s">{pris}</p>
      <!-- Flex spacer -->
      <div class="flex-grow"></div>
      <!-- Buttons -->
      <div class="flex justify-between pt-s lg:mb-s">
        <a class="flex" href="/singleview">
          <LysBorderButton>UDFORSK</LysBorderButton>
        </a>
        <LysButton>TILFØJ TIL KURV</LysButton>
      </div>
    </div>
  </div>
</section>
