---
import Button from "../components/Button.astro";
import BorderButton from "../components/BorderButton.astro";

const {
  cardimage = "",
  cardimagealt = "",

  kaffenavn = "",
  smag = "",
  pris = "",
  info = "",
} = Astro.props;
---

<section class="relative text-center max-w-72 lg:max-w-96 lg:pb-xl group">
  <div class="relative">
    <img
      src={cardimage}
      alt={cardimagealt}
      class="h-[400px] w-full object-contain"
    />
    <p class="lg:text-p_stordesk text-brun-900 mt-4 pb-6">{kaffenavn}</p>
    <!-- Overlay -->
    <div
      class="absolute inset-0 bg-grøn-600 text-white opacity-0 group-hover:opacity-80 transition-opacity text-start px-s"
    >
      <p class="font-montserrat lg:text-p_lilledesk pt-[230px]">{info}</p>
      <p class="font-montserrat lg:text-p_lilledesk">{smag}</p>
      <p class="font-montserrat lg:text-p_stordesk pt-s">{pris}</p>
      <div class="flex justify-between pt-s">
        <div class="">
          <BorderButton>UDFORSK</BorderButton>
        </div>
        <Button>KØB</Button>
      </div>
    </div>
  </div>
</section>
